{% extends "base.html" %} 

{% block conteudo %}


<div class="row">
    <div class="col-xl-9 col-lg-8 col-md-8 col-12">
        <div class="form-floating col-10 col-md-4 col-sm-8">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                {% for mes in meses %}
                    <option value="{{ mes }}" {{ "selected" if mes == data_hora.split("/")[1] | int }}>{{ meses[mes].title() }}</option>
                {% endfor %}
            </select>
            <label for="floatingSelect">Escolha o mês</label>
        </div>
        
        <div class="row ms-1">
            <div class="g-3 row d-md-inline d-flex flex-column flex-sm-row justify-content-center align-items-center ">
                <div class="col-xl-3 col-lg-5 col-md-5 col-sm-4 col-7 d-sm-inline-block ">
                    <div class="d-flex flex-column align-items-start gap-1 justify-content-center p-2 border border-dark rounded-3 shadow col-sm-0 col-4" style="height: 180px; width: auto !important;">
                        <i class="bi-wallet-fill rounded p-2 text-white shadow" style="background-color: var(--navBar-blue) !important; line-height: 0px;"></i>
                        <p class="fw-semibold" style="color: var(--navBar-blue) !important; font-size: 25px;">{{saldo}}</p>
                        <p style="font-size: 20px;">saldo</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-5 col-md-5 col-sm-4 col-7 d-sm-inline-block">
                    <div class="d-flex flex-column align-items-start gap-1 justify-content-center p-2 border border-dark rounded-3 shadow" style="height: 180px;">
                        <i class="bi-graph-up-arrow rounded p-2 text-white shadow" style="background-color: var(--navBar-saving) !important; line-height: 0px;"></i>
                        <p class="fw-semibold" style="color: var(--navBar-saving) !important; font-size: 25px; ">{{receita}}</p>
                        <p style="font-size: 20px;">receita</p>
                    </div>
                </div>
                <div class="col-xl-3  col-lg-5 col-md-5 col-sm-4 col-7 d-sm-inline-block">
                    <div class="d-flex flex-column align-items-start gap-1 justify-content-center p-2 border border-dark rounded-3 shadow" style="height: 180px;">
                        <i class="bi-graph-down-arrow rounded p-2 text-white shadow" style="background-color: var(--navBar-expense); line-height: 0px;"></i>
                        <p class="fw-semibold" style="color: var(--navBar-expense) !important; font-size: 25px;">{{despesa}}</p>
                        <p style="font-size: 20px;">despesa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="max-height: 55vh; overflow-y: auto;" class="col-xl-3 col-lg-4 col-md-4 col-12 mt-5 d-md-block text-md-start d-flex  flex-column justify-content-center align-items-center text-center">
        <div class="">
            <h3 class="fs-5">suas despesas</h3>
            <p class="fs-8">últimos 15 dias</p>
            <div>
                {% for despesa in lista_despesa %}
                    <a class="text-decoration-none" href="/transacao/listagem">
                        <div class="p-2 bg-white rounded-3 shadow col-lg-10 col-12 my-3">
                            <h3 class="fs-6 text-dark ">{{despesa}}</h3>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="mt-3">
            <h3 class="fs-5">transações recentes</h3>
            <p class="fs-8">receitas e despesas</p>
            {% for t in transacoes %}
                {% if t.tipo == 'Despesa' %}
                <a class="text-decoration-none" href="/transacoes">
                    <div class="px-2 bg-white rounded-3 shadow d-flex justify-content-between col-lg-10 col-12 my-3">
                        <div>
                            <p class="fw-bold" style="color:#d76060">{{t.tipo}}</p>
                        </div>
                        <div>
                            <p class="fw-bold" style="color:#d76060">{{'R$%.2f'|format(t.valor)}}</p>
                        </div>
                    </div>
                </a>
                {% else %}
                <a class="text-decoration-none" href="/transacao/listagem">
                    <div class="px-2 bg-white rounded-3 shadow d-flex justify-content-between col-lg-10 col-12 my-3">
                        <div>
                            <p class="fw-bold" style=" color: #35aa3a;">{{t.tipo}}</p>
                        </div>
                        <div>
                            <p class="fw-bold" style=" color: #35aa3a;">{{'R$%.2f'|format(t.valor)}}</p>
                        </div>
                    </div>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
    <div class="fixed-bottom">
        <div class="position-absolute bottom-0 end-0 me-md-5 mb-sm-5 me-sm-5 me-1 mb-4 w-auto" id="#add" >
            <div id="tipoRouD" class="flex-column gap-1" style="display: none;">
                <i class="bi-graph-up-arrow fs-1 text-white p-4 rounded ponteiro" style="background-color: var(--navBar-saving);" data-bs-toggle="modal" data-bs-target="#formReceita"></i>
                <i class="bi-graph-down-arrow fs-1 text-white p-4 rounded ponteiro" style="background-color: var(--navBar-expense);" data-bs-toggle="modal" data-bs-target="#formDespesa"></i>
                <i class="bi-arrow-left-right fs-1 text-white p-4 mb-4 rounded ponteiro" style="background-color: gray;" data-bs-toggle="modal" data-bs-target="#formTransferencia"></i>
            </div>
            <i class="bi-plus-lg fs-1 bg-secondary text-white p-4 rounded ponteiro" onclick="openPopupButton()"></i>
        </div>
    </div>
{% from "transacoes/formReceita.html" import modalFormReceita %}
{{ modalFormReceita(id="formReceita", categorias=categorias, contas=contas, dependentes=dependentes)}}

{% from "transacoes/formDespesa.html" import modalFormDespesa %}
{{ modalFormDespesa(id="formDespesa", categorias=categorias, contas=contas, dependentes=dependentes)}}

{% from "transacoes/formTransferencia.html" import modalFormTransferencia %}
{{ modalFormTransferencia(id="formTransferencia", contas=contas)}}


{% if erros and valores: %}
<script>
    const validationErrors = {{ erros|tojson }};
    const fieldValues = {{ valores|tojson }};
</script>
<script src="/static/js/formValidation.js"></script>
{% endif %}
{% endblock %}

