<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap -->
        <link href="/static/lib/meu_bootstrap.css" rel="stylesheet" />
        <link href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
        <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        
        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/usuario/entrar.css" />

        <!-- JavaScript -->
        <script src="/static/js/usuario/entrar.js" defer></script>

        <!-- Ícone -->
        <link rel="icon" type="image/x-icon" href="/static/img/Logo.ico" />
        
        <!-- Título -->
        <title>Budget | Entrar</title>
    </head>
    <body>
        <div class="container-fluid animacao">
            <div class="forms-container-login">
                <div class="signin-signup">
                    <!-- Entrar -->
                    <form method="POST" class="sign-in-form mt-1 mt-lg-5 needs-validation" novalidate>
                        <div class="mb-2 mt-0 mt-sm-3 mb-md-2 mb-lg-5 mt-md-3">
                            <img src="/static/img/nameLogo.svg" alt="Logo do Budget" />
                        </div>
                        <h3 class="text-dark">Acesse sua conta</h3>
                        <div class="d-flex gap-5 justify-content-center mb-3">
                            <i class="bi bi-google fs-1"></i>
                            <i class="bi bi-facebook fs-1"></i>
                            <i class="bi bi-microsoft fs-1"></i>
                        </div>
                        <p>Ou</p>
                        <div class="row text-start mb-3">
                            <label for="email" class="form-label offset-lg-0 offset-md-2 offset-1">E-mail</label>
                            <div class="col-md-8 col-lg-12 col-10 offset-lg-0 offset-md-2 offset-1">
                                <input type="email" name="email" id="email" class="shadow border-0 form-control" style="color: #98a6af !important" required />
                                <div class="invalid-feedback">Por favor, preencha corretamente o seu e-mail.</div>
                            </div>
                        </div>
                        <div class="row text-start mb-3">
                            <label for="senha" class="form-label offset-lg-0 offset-md-2 offset-1">Senha</label>
                            <div class="col-md-8 col-lg-12 col-10 offset-lg-0 offset-md-2 offset-1">
                                <input type="password" name="senha" id="senha" class="shadow border-0 form-control" style="color: #98a6af !important" required />
                                <div class="invalid-feedback">Por favor, preencha corretamente a sua senha.</div>
                            </div>
                        </div>
                        <a href="/recuperarSenha" class="text-decoration-none text-secondary fw-semibold mb-3" style="cursor: pointer">Esqueceu a senha</a>
                        <div class="row mt-3">
                            <button type="submit" class="btn col-md-8 col-lg-12 col-10 offset-lg-0 offset-md-2 offset-1 rounded bg-secondary text-white fs-5 fw-semibold" style="background-color: #35aa3a">Entrar</button>
                        </div>
                        {% if mensagem_erro_entrar %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ mensagem_erro_entrar }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                    </form>
                    <!-- Cadastrar -->
                    <form method="POST" action="/novousuario" class="sign-up-form mt-0 col-lg-10 col-md-12 col-12 needs-validation" novalidate>
                        <div class="d-lg-block mb-md-2 mb-lg-5 mt-md-3">
                            <img src="/static/img/nameLogo.svg" alt="Logo do Budget" />
                        </div>
                        <h3 class="text-dark">Cadastre sua conta</h3>
                        <div class="d-flex gap-5 justify-content-center mb-3">
                            <i class="bi bi-google fs-1"></i>
                            <i class="bi bi-facebook fs-1"></i>
                            <i class="bi bi-microsoft fs-1"></i>
                        </div>
                        <p>Ou</p>
                        <div class="row text-start mb-3">
                            <label for="nome" class="form-label offset-lg-0 offset-md-2 offset-1">Nome Completo*</label>
                            <div class="col-md-8 col-lg-12 col-10 offset-lg-0 offset-md-2 offset-1">
                                <input type="text" name="nome" id="nome" class="shadow border-0 form-control" placeholder="Ex: João de Souza" style="color: #98a6af !important" required />
                                <div class="invalid-feedback">Por favor, preencha corretamente o seu nome.</div>
                            </div>
                        </div>
                        <div class="row text-start mb-3">
                            <label for="email" class="form-label offset-lg-0 offset-md-2 offset-1">E-mail*</label>
                            <div class="col-md-8 col-lg-12 col-10 offset-lg-0 offset-md-2 offset-1">
                                <input type="email" name="email" id="email" class="shadow border-0 form-control" placeholder="Ex: joaodesouza@email.com" style="color: #98a6af !important" required />
                                <div id="nome-error" class="invalid-feedback">Por favor, preencha corretamente o seu e-mail.</div>
                            </div>
                        </div>
                        <div class="row text-start mb-3">
                            <div class="col-md-4 col-lg-6 col-5 offset-lg-0 offset-md-2 offset-1">
                                <label for="senha3" class="form-label">Senha*</label>
                                <div class="col-md-12 col-12">
                                    <input type="password" name="senha3" id="senha3" class="shadow border-0 form-control" style="color: #98a6af !important" required />
                                    <div id="nome-error" class="invalid-feedback">Por favor, preencha corretamente o seu e-mail.</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-6 col-5">
                                <label for="confirmarSenha" class="form-label">Confirmar senha*</label>
                                <div class="col-md-12 col-12">
                                    <input type="password" name="confirmarSenha" id="confirmarSenha" class="shadow border-0 form-control" style="color: #98a6af !important" required />
                                    <div id="nome-error" class="invalid-feedback">Por favor, preencha corretamente o seu e-mail.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-check d-flex justify-content-center col-md-8 col-lg-12 col-10 offset-lg-0 offset-md-2 offset-1">
                            <input class="form-check-input check me-2" type="checkbox" id="termoUso" required />
                            <label class="form-check-label" for="termoUso">Li e concordo com os
                                <a class="text-decoration-none text-secondary fw-semibold termo">termos de uso</a>
                            </label>
                        </div>
                        <div class="row mt-3">
                            <button class="mb-3 btn col-md-8 col-lg-12 col-10 offset-lg-0 offset-md-2 offset-1 rounded bg-secondary text-white fs-5 fw-semibold" type="submit" style="background-color: #35aa3a">Cadastrar</button>
                        </div>
                        {% if mensagem_erro_cadastrar %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                            <strong>{{ mensagem_erro_cadastrar }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="panels-container" id="panels-container">
                <div class="panel left-panel mt-lg-3">
                    <div class="content text-white">
                        <div class="">
                            <h3>Novo por aqui?</h3>
                            <p class="d-none d-sm-block">
                                Crie uma conta gratuita, fácil e segura e
                                junte-se<br />
                                aos usuários que estão economizando dinheiro
                                e<br />
                                planejando melhor seus gastos!
                            </p>
                        </div>
                        <button class="btn col-3 rounded bg-white text-secondary fw-bold" type="button" id="sign-up-btn" style="background-color: #35aa3a">Cadastre-se</button>
                    </div>
                </div>
                <div class="panel right-panel mt-lg-3 mt-3">
                    <div class="content text-white">
                        <h3>Já é um de nós?</h3>
                        <p class="d-none d-sm-block">
                            Que bom tê-lo de volta! Acesse sua conta<br />
                            rapidamente e continue aprimorando o controle<br />
                            da sua vida financeira.
                        </p>
                        <button class="btn col-3 rounded bg-white text-secondary fw-bold" type="button" id="sign-in-btn" style="background-color: #35aa3a">Acesse</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
