<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/lib/meu_bootstrap.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/cadastroLogin.css">
    <link rel="icon" type="image/x-icon" href="/static/img/Logo.ico" />
    <title>Budget  |  Recuperar Senha</title>
</head>
<body>
    <div class="container-fluid bg-primary d-flex justify-content-center align-items-center flex-column vw-100 vh-100">
        <h1 class="text-white">Recuperar senha</h1>
        <div class="bg-white shadow rounded p-sm-4 p-3 d-block caixa text-center mt-4" >
            <p class="">Informe o seu e-mail para enviarmos as instruções de recuperação de senha</p>
            <div class="row text-start mt-5 mt-sm-0 my-sm-3">
                <label for="email" class="form-label  offset-1 fw-semibold">
                    E-mail*
                </label>
                <div class="col-10 offset-1">
                    <input type="email" name="email" id="email" class="shadow border-0 form-control" placeholder="Ex: joaodesouza@email.com">
                </div>
            </div>
            <div class="row mt-3 mb-4">
                <button  class=" btn col-8 offset-2 rounded bg-secondary text-white fs-5 fw-semibold " type="submit"  style=" background-color: #35aa3a;">
                        Recuperar Senha
                </button>
            </div>
            <div class="row mt-sm-0 mt-5">
                <a href="/" class="text-decoration-none col-10 offset-1 text-secondary fw-semibold mb-3" style="cursor: pointer;">Voltar para a página anterior </a>
            </div>

        </div>
    </div>
</body>