{% extends "base.html" %}

{% block conteudo %}

<!-- Botão de Voltar -->
<h1>
    <a href="/configuracoes">
        <i class="bi bi-arrow-left text-secondary"></i>
    </a>
</h1>

<div class="container">
    <h1>Dúvidas Frequentes</h1>
  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Como faço para excluir uma transação da carteira?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Para excluir uma transação da Carteira você precisará procurar o botão de excluir (ícone de lixo) do lado da transação que deseja eliminar. Após clicar, uma mensagem de confirmação de exclusão aparecerá e você poderá continuar para a exclusão permanente ou cancelar.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        É possível personalizar minhas categorias?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Sim! Apesar de já existirem categorias pré-definidas, você tem a flexibilidade de criar, editar e excluir categorias de acordo com suas preferências. Para isso, basta acessar a aba "Configurações", clicar em "Categorias" e gerenciá-las conforme desejado.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Como faço para adicionar uma despesa ou receita no Budget?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Vá para a aba "Dashboard", clique no botão "+", em seguida, "Registrar Receita ou Despesa" ou "Adicionar Transferência". Preencha os detalhes da transação, como a categoria, valor, data e descrição. Se desejar, você também pode anexar comprovantes ou notas adicionais. Finalmente, clique em "Salvar" para concluir a adição da transação.
      </div>
    </div>
  </div>
</div>
    <div class="stick-bottom">
        
        <hr>
        <h3 class="text-secondary">Não encontrou sua dúvida? escreva ela abaixo que iremos te responder.</h3>
        <div id="chat-box" class="mb-3"></div>
        <div class="input-group">
            <input type="text" id="user-message" class="form-control" placeholder="Escreva a sua dúvida">
            <button type="button" class="btn color=2B478B">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
</svg>
              </button>
        </div>
    </div>
    </div>
</body>
</html>
{% endblock %}
