{% extends "base.html" %} {% block conteudo %}

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" style="cursor: pointer;">
    <i class="bi bi-person fs-1 col-1"></i>
    <div class="col-10 ms-3 mb-2">
        <h5 class="mb-0">Seu Perfil</h5>
        <span style="font-size: 0.8rem" class="mt-0 ">Detalhes sobre suas informações pessoais</span>
    </div>
    <hr />
</a>

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" style="cursor: pointer;">
    <i class="bi bi-shield fs-2 col-1"></i>
    <div class="col-10 ms-3 mb-3">
        <h5 class="mb-0">Segurança</h5>
        <span style="font-size: 0.8rem" class="mt-0">Detalhes sobre sua senha</span>
    </div>
    <hr />
</a>

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" 
    style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#formConta">
    <i class="bi bi-person-vcard fs-2 col-1"></i>
    <div class="col-10 ms-3 mb-3">
        <h5 class="mb-0">Minhas Contas</h5>
        <span style="font-size: 0.8rem" class="mt-0 ">Detalhes sobre suas conexões e contas bancárias</span>
    </div>
    <hr />
</a>
<div class="modal fade" id="formConta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header d-md-none">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="col-12 col-md-10 offset-md-1" method="post" action="addConta">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h1 class="display-6 fw-semibold">Gerenciar Contas</h1>
                            <p class="fs-5">
                                Personalize suas conexões e contas bancárias 
                            <p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12 mt-4">
                                <div class="mb-3">
                                    <label for="titulo" class="form-label offset-md-1 offset-sm-2 offset-1">
                                        Título
                                    </label>
                                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                        <input type="text" name="titulo" id="titulo" class="shadow border-0 form-control" placeholder="Nubank" style="color: #98a6af !important;">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="saldo" class="form-label offset-md-1 offset-sm-2 offset-1">Saldo</label>
                                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                        <input type="number" name="saldo" id="saldo" class="shadow border-0 form-control" placeholder="R$ 0,00" style="color: #6c757d;">
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label for="meta" class="form-label offset-md-1 offset-sm-2 offset-1">Meta</label>
                                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                        <select id="meta" name="meta" class="shadow border-0 form-select" style="color: #6c757d;">
                                            <option disabled selected>Escolha uma meta</option>
                                            <option value="viagem">Nova viagem em novembro </option>
                                            <option value="carro">Carro novo</option>
                                            <option value="celular">Celular novo</option>
                                            <option value="nenhuma">Sem meta</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <h3 class="display-6 fs-2 text-center fw-semibold">
                                    Minhas Contas
                                </h3>
                                {% for c in contas %}
                                    <div  class=" shadow col-md-8 offset-md-2 col-sm-6 offset-sm-3 offset-2 col-8 py-2 mt-3 d-flex justify-content-between">
                                        <div class="ms-2 mt-1">
                                            <h5 class="fs-5 p-0">{{c.titulo}}</h5>
                                        </div>
                                        <div class="d-flex mt-2 me-2 gap-2">
                                            <div>
                                                <button class="btn p-0" type="button">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>                        
                                            </div>
                                            <div>
                                                <button class="btn p-0" type="button" data-bs-toggle="modal" data-bs-target="#alertaExcluirConta">
                                                    <i class="bi bi-trash"></i>
                                                </button>                        
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                           <button class="btn col-4 offset-4 rounded bg-secondary text-white fs-5 fw-semibold" type="submit"  style=" background-color: #35aa3a;">
                                Adicionar Conta
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% from "main/modalExcluir.html" import modalExcluir %}
{{ modalExcluir(id="alertaExcluirConta") }}

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" 
style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#formCategoria">
    <i class="bi bi-app fs-2 col-1"></i>
    <div class="col-10 ms-3 mb-3">
        <h5 class="mb-0">Categorias</h5>
        <span style="font-size: 0.8rem" class="mt-0 ">Adicione e gerencie suas categorias</span>
    </div>
    <hr />
</a>
<div class="modal fade " id="formCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header d-md-none">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container-fluid">
                <form class="col-12 col-md-10 offset-md-1" method="post">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h1 class="display-6 fw-semibold">Gerenciar Categorias</h1>
                        <p class="fs-5">
                            Personalize suas próprias categorias 
                        <p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12 mt-4">
                            <div class="mb-3">
                                <label for="name" class="form-label offset-md-1 offset-sm-2 offset-1">
                                    Nome da Categoria
                                </label>
                                <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                    <input type="text" name="name" id="name" class="shadow border-0 form-control" placeholder="Exemplo: Estudos" style="color: #98a6af !important;">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="valor" class="form-label offset-md-1 offset-sm-2 offset-1">Valor</label>
                                <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                    <input type="number" name="valor" id="valor" class="shadow border-0 form-control" placeholder="R$ 0,00" style="color: #6c757d;">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="cor" class="form-label offset-md-1 offset-sm-2 offset-1">Cor:</label>
                                <div class="select-color shadow col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 text-center py-5">
                                    <i class="bg-danger rounded-circle" style="padding: 12px 24px 12px 24px"></i>
                                    <i class="bg-warning rounded-circle mx-3"  style="padding: 12px 24px 12px 24px"></i>
                                    <i class="bg-success rounded-circle me-3"  style="padding: 12px 24px 12px 24px"></i>
                                    <i class="bg-primary rounded-circle"  style="padding: 12px 24px 12px 24px"></i>
                                </div>
                            </div>
                            <div class="col-md-5 offset-md-1 col-sm-4 offset-sm-4 offset-4 col-4 mb-5">
                                 <select id="icone" name="icone" class="shadow border-0 form-select" style="color: #6c757d;">
                                    <option disabled selected>Ícone</option>
                                    <option value="defaut">Desejável</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <h3 class="display-6 fs-2 text-center fw-semibold">
                                Minhas Categorias
                            </h3>
                            {% for c in categories %}
                                <div  class=" shadow col-md-8 offset-md-2 col-sm-6 offset-sm-3 offset-2 col-8 py-2 mt-3 d-flex justify-content-between">
                                    <div class="ms-2 mt-1">
                                        <h5 class="fs-5 p-0">{{c.name}}</h5>
                                    </div>
                                    <div class="d-flex mt-2 me-2 gap-2">
                                        <div>
                                            <form action="/excluirCategoria" method="post">
                                              <button class="btn p-0" name="idCategory" value="" type="submit" onclick="openPopupExcluir()">
                                                 <i class="bi bi-pencil-square"></i>
                                              </button>                        
                                            </form>
                                        </div>
                                        <div >
                                            <form action="/excluirCategoria" method="post">
                                              <button class="btn p-0" name="idCategory" value="" type="submit" onclick="openPopupExcluir()">
                                                  <i class="bi bi-trash"></i>
                                              </button>                        
                                            </form>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                        </div> 
                         <button class="btn col-4 offset-4 rounded bg-secondary text-white fs-5 fw-semibold" type="submit"  style=" background-color: #35aa3a;">
                                    Adicionar Categoria
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<a href="/dependentes" class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" style="cursor: pointer;">
    <i class="bi bi-people fs-2 col-1"></i>
    <div class="col-10 ms-3 mb-3">
        <h5 class="mb-0">Dependentes</h5>
        <span style="font-size: 0.8rem" class="mt-0">Gerencie os dependentes da sua conta</span>
    </div>
    <hr />
</a>

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" style="cursor: pointer;">
    <i class="bi bi-question-circle fs-2 col-1"></i>
    <div class="col-10 ms-3 mb-3">
        <h5 class="mb-0">Ajuda</h5>
        <span style="font-size: 0.8rem" class="mt-0 ">Está perdido? Venha, vamos ajudar</span>
    </div>
    <hr />
</a>

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" style="cursor: pointer;">
    <i class="bi bi-info-circle fs-2 col-1"></i>
    <div class="col-10 ms-3 mb-3">
        <h5 class="mb-0">Sobre</h5>
        <span style="font-size: 0.8rem" class="mt-0">Conheça um pouco mais sobre nós</span>
    </div>
    <hr />
</a>

{% endblock %}