<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/static/img/Logo.ico" />

        <title>Budget | Página Inicial</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/static/lib/meu_bootstrap.css">
        <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">

        <!-- Ícones -->
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />

        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/main/index.css" />

        <!-- Scripts -->
        <script src="/static/js/main/scrollreveal.js"></script>
    </head>

    <body>
        <!-- Header -->
        <header class="header" id="navbar">
            <a href="/"><img src="/static/img/Logo.svg" style="width: 200px !important;" class="logo" /></a>

            <i class="bx bx-menu" id="menu-icon"></i>

            <nav class="navbar">
                <b><a href="#inicio" class="navbar-link active">Início</a></b>
                <b><a href="#funcionalidades">Funcionalidades</a></b>
                <b><a href="#quemsomos">Quem somos</a></b>
                <b><a class="entrar" href="entrar">Entrar</a></b>
            </nav>
        </header>

        <!-- Home -->
        <section class="home" id="inicio">
            <div class="home-img" data-tilt data-tilt-scale="1.1">
                <img src="/static/img/header.svg" alt="" />
            </div>
            <div class="home-content">
                <h3>
                    Organize suas finanças de forma <u>fácil</u>,
                    <u>prática</u> e <u>segura</u> com o
                    <span class="span-budget">Budget</span>
                </h3>
                <p>
                    Pelo celular ou pelo computador, você consegue ter um maior
                    controle de tudo o que acontece com o seu dinheiro em tempo
                    real!
                </p>
            </div>
        </section>

        <!-- Functionalities -->
        <section class="functionalities" id="funcionalidades">
            <div class="functionalities-planning">
                <div class="functionalities-img">
                    <img src="/static/img/functionalities1.svg" alt="" />
                </div>

                <div class="functionalities-content">
                    <p class="fs-1 lead">
                        O aplicativo servirá para ajudar o usuário na gestão e
                        planejamento pessoal voltado ao controle financeiro,
                        fornecendo de maneira intuitiva ferramentas práticas e
                        eficientes num mesmo lugar.
                    </p>
                </div>
            </div>
        </section>
        <section class="functionalities2" id="funcionalidades">
            <div class="functionalities-planning">
                <div class="functionalities-content">
                    <p class="fs-1 lead">
                        O aplicativo servirá para ajudar o usuário na gestão e
                        planejamento pessoal voltado ao controle financeiro,
                        fornecendo de maneira intuitiva ferramentas práticas e
                        eficientes num mesmo lugar.
                    </p>
                </div>
                <div class="functionalities-img">
                    <img src="/static/img/functionalities2.svg" alt="" />
                </div>
            </div>
        </section>
        <section class="functionalities3" id="funcionalidades">
            <div class="functionalities-planning">
                <div class="functionalities-img">
                    <img src="/static/img/functionalities3.svg" alt="" />
                </div>

                <div class="functionalities-content">
                    <p class="fs-1 lead">
                        O aplicativo servirá para ajudar o usuário na gestão e
                        planejamento pessoal voltado ao controle financeiro,
                        fornecendo de maneira intuitiva ferramentas práticas e
                        eficientes num mesmo lugar.
                    </p>
                </div>
            </div>
        </section>
        <section class="functionalities4" id="funcionalidades">
            <div class="functionalities-planning">
                <div class="functionalities-content">
                    <p class="fs-1 lead">
                        O aplicativo servirá para ajudar o usuário na gestão e
                        planejamento pessoal voltado ao controle financeiro,
                        fornecendo de maneira intuitiva ferramentas práticas e
                        eficientes num mesmo lugar.
                    </p>
                </div>

                <div class="functionalities-img">
                    <img src="/static/img/functionalities4.svg" alt="" />
                </div>
            </div>
        </section>
        <section class="functionalities5" id="funcionalidades">
            <div class="functionalities-planning">
                <div class="functionalities-img">
                    <img src="/static/img/functionalities5.svg" alt="" />
                </div>

                <div class="functionalities-content">
                    <p class="fs-1 lead">
                        O aplicativo servirá para ajudar o usuário na gestão e
                        planejamento pessoal voltado ao controle financeiro,
                        fornecendo de maneira intuitiva ferramentas práticas e
                        eficientes num mesmo lugar.
                    </p>
                </div>
            </div>
        </section>

        <section class="who" id="quemsomos">
            <div class="who-container">
                <div class="card" data-tilt data-tilt-scale="1.1">
                    <div class="imgBx">
                        <img
                            src="images/Imagem de Perfil - Daniella.png"
                            alt=""
                            srcset=""
                        />
                        <h2>Daniella Mendes</h2>
                    </div>
                    <div class="content">
                        <div class="about">
                            <p>
                                Sou a Daniella, estudante do técnico em
                                informática do IFES, e fui responsável pela UI
                                do sistema.
                            </p>
                        </div>
                        <div class="socials">
                            <i class="bx bxl-linkedin" id="github-icon"></i>
                            <i class="bx bxl-github" id="github-icon"></i>
                            <i class="bx bxl-twitter" id="github-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="card" data-tilt data-tilt-scale="1.1">
                    <div class="imgBx">
                        <img
                            src="images/Imagem de Perfil - Suzana.png"
                            alt=""
                            srcset=""
                        />
                        <h2>Suzana Sequim</h2>
                    </div>
                    <div class="content">
                        <div class="about">
                            <p>
                                Olá! Eu sou a Suzana estudante do IFES, faço
                                técnico em informática, e fui responsável pela
                                UI do sistema.
                            </p>
                        </div>
                        <div class="socials">
                            <i class="bx bxl-linkedin" id="github-icon"></i>
                            <i class="bx bxl-github" id="github-icon"></i>
                            <i class="bx bxl-twitter" id="github-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="card" data-tilt data-tilt-scale="1.1">
                    <div class="imgBx">
                        <img
                            src="images/Imagem de Perfil - Thalles.png"
                            alt=""
                            srcset=""
                        />
                        <h2>Thalles Cansi</h2>
                    </div>
                    <div class="content">
                        <div class="about">
                            <p>
                                Olá! Eu sou o Thalles estudante do IFES e
                                apaixonado por jogos. Fui responsável pela UX
                                desse sistema :)
                            </p>
                        </div>
                        <div class="socials">
                            <i class="bx bxl-linkedin" id="github-icon"></i>
                            <i class="bx bxl-github" id="github-icon"></i>
                            <i class="bx bxl-twitter" id="github-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="card" data-tilt data-tilt-scale="1.1">
                    <div class="imgBx">
                        <img
                            src="images/Imagem de Perfil - Vinicius.png"
                            alt=""
                            srcset=""
                        />
                        <h2>Vinicius Girelli</h2>
                    </div>
                    <div class="content">
                        <div class="about">
                            <p>
                                Olá! Eu sou o Vinícius, estudante do IFES. Fui
                                responsável pela UX desse Sistema
                            </p>
                        </div>
                        <div class="socials">
                            <i class="bx bxl-linkedin" id="github-icon"></i>
                            <i class="bx bxl-github" id="github-icon"></i>
                            <i class="bx bxl-twitter" id="github-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Scrips -->
        <script src="/static/js/main/index.js"></script>

        <script src="/static/js/main/vanila-tilt.js"></script>
    </body>
</html>
