{% extends "base_neutra.html" %} 

{% block conteudo %}
    <link rel="stylesheet" href="/static/css/main/notfound.css">

    <div class="vertical-center">
        <div class="container">
            <div class="text-center">
                <h1>😮</h1>
                <h2>Oops! Página não encontrada</h2>
                <p>Desculpe, mas a página que você está procurando não existe</p>
                <a href="/dashboard">Voltar para a página principal</a>
            </div>
        </div>
    </div>

{% endblock %}
