{% extends "base.html" %} 

{% block conteudo %}
{% from "conta/modalNovaCarteira.html" import modalNovaCarteira %}

    <div class="row d-flex align-items-center mt-2">
        <div class="col-lg-6 col-md-5 col-12 d-flex align-items-center mb-3">
            <i class="bi bi-cash-coin fs-2"></i>
            <h2 class="ms-2">Minhas Carteiras</h2>
        </div>
    </div>

    <div class="mt-5 row g-0">
        <div class="col-xl-4 col-sm-6 col-12 offset-sm-0 offset-xl-0 offset-md-0 mb-3 d-flex justify-content-center">
            <div class="ms-1 ms-md-3 shadow rounded d-flex align-items-center justify-content-center" style="width: 300px; height: 215px;">
                <button class="btn col-8 rounded bg-secondary text-white fs-5 fw-semibold d-flex align-items-center justify-content-center" type="submit" style="height: 40px; background-color: #35aa3a;" data-bs-toggle="modal" data-bs-target="#modalNovaCarteira">
                    Adicionar Carteira
                </button>
            </div>
        </div>
        {% for c in contas %}
        <div class="col-xl-4 col-sm-6 col-12  offset-xl-0 offset-md-0  d-flex justify-content-center mb-3">
            <div class="ms-1 ms-md-3 p-3 shadow rounded" style="width: 300px; height: 215px;">
                <h3 class="m-0">Conta</h3>
                <p>{{ c.nome }}</p>
                <h3>Saldo</h3>
                {% for i in range(saldo_contas|length) %}
                    {% if c.id == saldo_contas[i][0] %}
                        <p> {{ 'R${0:0.2f}'.format(saldo_contas[i][1]) }}</p>
                    {% endif %}
                {% endfor %}
                <div class="d-flex gap-1 justify-content-end">
                    <form action="/carteira/excluir" method="post">
                        <button type="submit" name="id" value="{{ c.id}}" class="btn p-0">
                            <i role="button" class="bi-pencil-square text-bg-info p-1 rounded"></i>
                        </button>
                    </form>
                    <form action="/carteira/excluir" method="post">
                        <button type="submit" name="id" value="{{ c.id}}" class="btn p-0">
                            <i role="button" class="bi-trash text-white bg-danger p-1 rounded"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {{ modalNovaCarteira(id="modalNovaCarteira", erros=erros, valores=valores) }}
    
{% endblock %}