{% macro modalFormConta(id, contas) %}
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header d-md-none">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="col-12 col-md-10 offset-md-1" method="post" action="addConta">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h1 class="display-6 fw-semibold">Gerenciar Contas</h1>
                            <p class="fs-5">
                                Personalize suas conexões e contas bancárias 
                            <p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12 mt-4">
                                <div class="mb-3">
                                    <label for="nome" class="form-label offset-md-1 offset-sm-2 offset-1">
                                        Título
                                    </label>
                                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                        <input type="text" name="nome" id="nome" class="shadow border-0 form-control" placeholder="Nubank" >
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="saldo" class="form-label offset-md-1 offset-sm-2 offset-1">Saldo</label>
                                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                        <input type="number" name="saldo" id="saldo" class="shadow border-0 form-control" placeholder="R$ 0,00" >
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label for="meta" class="form-label offset-md-1 offset-sm-2 offset-1">Meta</label>
                                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                        <select id="meta" name="meta" class="shadow border-0 form-select" >
                                            <option disabled selected>Escolha uma meta</option>
                                            <option value="viagem">Nova viagem em novembro </option>
                                            <option value="carro">Carro novo</option>
                                            <option value="celular">Celular novo</option>
                                            <option value="nenhuma">Sem meta</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 mb-3">
                                <h3 class="display-6 fs-2 text-center fw-semibold">
                                    Minhas Contas
                                </h3>
                                <div style="overflow-y: auto; max-height: 33vh;">
                                    {% for c in contas %}
                                        <div  class=" shadow col-md-8 offset-md-2 col-sm-6 offset-sm-3 offset-2 col-8 py-2 mt-3 d-flex justify-content-between">
                                            <div class="ms-2 mt-1">
                                                <h5 class="fs-5 p-0">{{c.nome}}</h5>
                                            </div>
                                            <div class="d-flex mt-2 me-2 gap-2">
                                                <div>
                                                    <button class="btn p-0" type="button">
                                                        <i class="bi bi-pencil-square"></i>
                                                    </button>                        
                                                </div>
                                                <div>
                                                    <button class="btn p-0" type="button" data-bs-toggle="modal" data-bs-target="#alertaExcluirConta">
                                                        <i class="bi bi-trash"></i>
                                                    </button>                        
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                           <button class="btn col-4 offset-4 rounded bg-secondary text-white fs-5 fw-semibold" type="submit"  style=" background-color: #35aa3a;">
                                Adicionar Conta
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}