{% macro formNovaCarteira(erros, valores) %}

    <form method="post" action="/carteira/nova" class="col-12 col-md-10 offset-md-1">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="display-6 fw-semibold">Adicionar Carteira</h1>
            <p class="text-center">Adicione carteiras à sua conta para gerenciar melhor o seu dinheiro</p>       
        </div>
    
        <div class="row mt-3">
            <div class="col">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome da Carteira</label>
                    <input type="text" name="nome" id="nome" placeholder="Nome" class="shadow border-0 form-control">
                    <span class="text-danger d-none small"></span>
                </div>
                <div class="mb-3">
                    <label for="saldo" class="form-label">Saldo total</label>
                    <div class="input-group">
                        <span class="input-group-text shadow border-0">R$</span>
                        <input type="number" name="saldo" id="saldo" placeholder="Saldo" class="shadow border-0 form-control">
                    </div>
                    <span class="text-danger d-none small"></span>
                </div>
                <div class="text-center mt-4">
                    <button class="btn col rounded bg-secondary text-white fs-5 fw-semibold" type="submit">Criar Carteira</button>
                </div>
            </div>
        </div>
    </form>    

    {% if erros and valores %}
        <script>
            const validationErrors = {{ erros|tojson }};
            const fieldValues = {{ valores|tojson }};
        </script>
        <script src="/static/js/formValidation.js"></script>
    {% endif %}

{% endmacro %}