{% macro modalNovaCarteira(id, erros, valores) %}

{% from "conta/formNovaCarteira.html" import formNovaCarteira %}

    <div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="Adicionar uma nova carteira" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header d-md-none">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        {{ formNovaCarteira(erros=erros, valores=valores) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}
