/* Variáveis do Projeto */
:root {
    /* Estilo das Cores  */
    /* Cores Primárias */
    --primaryColor-green: #56ab91;
    --primaryColor-blue: #2b478b;    

    /* Gradientes */
    --gradient-horizontal: linear-gradient(90deg, #2b478b 0%, #55ab91 100%);
    --gradient-vertical: linear-gradient(180deg, #55ab91 0%, #2b478b 100%);

    /* Cores Neutras */
    --neutralColors-text: #212529;
    --neutralColors-textGray: #343a40;
    --neutralColors-600: #495057;
    --neutralColors-500: #6c757d;
    --neutralColors-400: #adb5bd;
    --neutralColors-300: #ced4da;
    --neutralColors-200: #dee2e6;
    --neutralColors-100: #e9ecef;
    --neutralColors-white: #ffffff;

    /* Tons de Verde */
    --greenAccent-800: #19332b;
    --greenAccent-700: #2b5548;
    --greenAccent-600: #3c7765;
    --greenAccent-500: #4d9982;
    --greenAccent-400: #66b39c;
    --greenAccent-300: #88c4b2;
    --greenAccent-200: #aad5c8;
    --greenAccent-100: #cce5de;

    /* Tons de Azul */
    --blueAccent-800: #0c1529;
    --blueAccent-700: #152345;
    --blueAccent-600: #1e3161;
    --blueAccent-500: #263f7d;
    --blueAccent-400: #405996;
    --blueAccent-300: #6a7ead;
    --blueAccent-200: #95a3c5;
    --blueAccent-100: #bfc7dc;

    /* Categorias */
    --categories-darkBlue: #076ebd;
    --categories-blue: #42b5e7;
    --categories-green: #12ae6c;
    --categories-red: #f83215;
    --categories-orange: #fea519;
    --categories-pink: #fa4deb;
    --categories-gray: #98a6af;

    /* Menu de Navegação */
    --navBar-gray: #e6ecf1;
    --navBar-blue: #4d72cc;
    --navBar-expense: #d76060;
    --navBar-saving: #35aa3a;

    --text-color: #212529;
    --white-color: #ffffff;
    --gray-color: #e6ecf1;

    /* Estilo dos Efeitos */
    /* Sombras Gerais */
    --shadow-default-01: 0px 2px 6px rgba(33, 37, 41, 0.3);
    /* Sombra dos Botões Padrões */
    --buttonShadow-default-01: 0px 8px 8px rgba(33, 37, 41, 0.08);
    --buttonShadow-default-02: 0px 8px 16px rgba(33, 37, 41, 0.17);
}

#app-form-receita{
    width: 5000000px;
}

.active,
.active span,
.active a,
.active i{
    background-color: white !important;
    color: black !important;
}

.active:hover,
.active:hover span,
.active:hover i{
    background-color: white !important;
}

.nav-item a{
    color: white !important;
}

#profile i:hover{
    cursor: pointer
}

.nav-item:hover,
.nav-item:hover span,
.nav-item:hover i{
    background-color: #fff !important;
    color: black !important;
    cursor: pointer !important;
}

::placeholder{
    color: #98a6af;
}

.menu-configuracoes:hover {
  color: var(--primaryColor-green) !important;
  font-weight: bold !important;
}

a.cancelar:hover{
    font-weight: 500 !important;
    cursor: pointer;
}

.fechada:hover{
    cursor: pointer;
}

.ponteiro:hover{
    cursor: pointer;
}