{% macro modalFormMeta(id) %}
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header d-md-none">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="col-12 col-md-10 offset-md-1" method="post" action="addConta">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h1 class="display-6 fw-semibold">Adicionar Meta</h1>
                            <!-- <p class="fs-5">
                                Personalize suas conexões e contas bancárias 
                            <p> -->
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12 mt-4">
                                <div class="mb-3">
                                    <label for="nomeMeta" class="form-label offset-md-1 offset-sm-2 offset-1">
                                        Nome da Meta
                                    </label>
                                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                        <input type="text" name="nomeMeta" id="nomeMeta" class="shadow border-0 form-control" placeholder="Descrição" style="color: #98a6af !important;">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="valorMeta" class="form-label offset-md-1 offset-sm-2 offset-1">Valor da Meta</label>
                                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                        <input type="number" name="valorMeta" id="valorMeta" class="shadow border-0 form-control" placeholder="R$ 0,00" style="color: #6c757d;">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="valorInicialMeta" class="form-label offset-md-1 offset-sm-2 offset-1">Valor Inicial da Meta</label>
                                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                        <input type="number" name="valorInicialMeta" id="valorInicialMeta" class="shadow border-0 form-control" placeholder="R$ 0,00" style="color: #6c757d;">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="idCategoria" class="form-label offset-md-1 offset-sm-2 offset-1">Categoria</label>
                                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                        <select id="idCategoria" name="idCategoria" class="shadow border-0 form-select" style="color: #6c757d;">
                                            <option value="label" disabled selected>
                                                Escolha a categoria
                                            </option>
                                            {% for c in categorias %}
                                            <option value="{{c.idCategory}}">{{c.nome}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 mt-4">
                                <div class="mb-3">
                                    <label for="data" class="form-label offset-md-1 offset-sm-2 offset-1">Data</label>
                                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                        <input type="date" name="data" id="data" class="shadow border-0 form-control" style="color: #6c757d;">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="descricaoMeta" class="form-label offset-md-1 offset-sm-2 offset-1">Descrição da Meta</label>
                                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                                        <input type="text" name="descricaoMeta" id="descricaoMeta" class="shadow border-0 form-control" placeholder="Descrição da Meta" style="color: #6c757d;">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="select-color shadow col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 text-center py-5">
                                        <i class="bg-danger rounded-circle" style="padding: 12px 24px 12px 24px"></i>
                                        <i class="bg-warning rounded-circle mx-3"  style="padding: 12px 24px 12px 24px"></i>
                                        <i class="bg-success rounded-circle me-3"  style="padding: 12px 24px 12px 24px"></i>
                                        <i class="bg-primary rounded-circle"  style="padding: 12px 24px 12px 24px"></i>
                                    </div>
                                </div>
                            </div>
                           <button class="btn col-4 offset-4 rounded bg-secondary text-white fs-5 fw-semibold" type="submit"  style=" background-color: #35aa3a;">
                                Adicionar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}