@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

/* Variáveis do Projeto */
:root {
    /* Estilo das Cores  */
    /* Cores Primárias */
    --primaryColor-green: #56ab91;
    --primaryColor-blue: #2b478b;

    /* Gradientes */
    --gradient-horizontal: linear-gradient(90deg, #2b478b 0%, #55ab91 100%);
    --gradient-vertical: linear-gradient(180deg, #55ab91 0%, #2b478b 100%);

    /* Cores Neutras */
    --neutralColors-text: #212529;
    --neutralColors-textGray: #343a40;
    --neutralColors-600: #495057;
    --neutralColors-500: #6c757d;
    --neutralColors-400: #adb5bd;
    --neutralColors-300: #ced4da;
    --neutralColors-200: #dee2e6;
    --neutralColors-100: #e9ecef;
    --neutralColors-white: #ffffff;

    /* Tons de Verde */
    --greenAccent-800: #19332b;
    --greenAccent-700: #2b5548;
    --greenAccent-600: #3c7765;
    --greenAccent-500: #4d9982;
    --greenAccent-400: #66b39c;
    --greenAccent-300: #88c4b2;
    --greenAccent-200: #aad5c8;
    --greenAccent-100: #cce5de;

    /* Tons de Azul */
    --blueAccent-800: #0c1529;
    --blueAccent-700: #152345;
    --blueAccent-600: #1e3161;
    --blueAccent-500: #263f7d;
    --blueAccent-400: #405996;
    --blueAccent-300: #6a7ead;
    --blueAccent-200: #95a3c5;
    --blueAccent-100: #bfc7dc;

    /* Categorias */
    --categories-darkBlue: #076ebd;
    --categories-blue: #42b5e7;
    --categories-green: #12ae6c;
    --categories-red: #f83215;
    --categories-orange: #fea519;
    --categories-pink: #fa4deb;
    --categories-gray: #98a6af;

    /* Menu de Navegação */
    --navBar-gray: #e6ecf1;
    --navBar-blue: #4d72cc;
    --navBar-expense: #d76060;
    --navBar-saving: #35aa3a;

    --text-color: #212529;
    --white-color: #ffffff;
    --gray-color: #e6ecf1;

    /* Estilo dos Efeitos */
    /* Sombras Gerais */
    --shadow-default-01: 0px 2px 6px rgba(33, 37, 41, 0.3);
    /* Sombra dos Botões Padrões */
    --buttonShadow-default-01: 0px 8px 8px rgba(33, 37, 41, 0.08);
    --buttonShadow-default-02: 0px 8px 16px rgba(33, 37, 41, 0.17);
}

/* Padrão para todas as páginas de formulários */
* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-size: 12px;
    color: var(--neutralColors-text);
}

body{
    overflow-y: hidden;
}

.sidebar img{
    cursor: pointer;
}

.sidebar-tab h1,
.navbar h1 {
    font-size: 3.3rem;
    color: var(--text-color);
    font-weight: bold;
}

.sidebar-tab h4,
.navbar h4 {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: bold;
}

/* Tamanho padrão de ícone padrão */
.sidebar-tab i,
.navbar i {
    display: flex !important;
    justify-content: center !important;
    font-size: 2.1rem;
    height: 2.1rem;
    width: 2.1rem;
    margin: 2.1rem;
    font-weight: bold;
    color: var(--gray-color);
    filter: drop-shadow(0rem 0.34rem 0.34rem rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.navbar {
    height: 5rem;
    width: calc(100vw - 23rem);
    padding: 0rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed; 
    left: 23rem;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    margin-right: 0.42rem;
}

.profile-dep {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-top: 0rem;
    margin-right: 0.42rem;
}

.profile img{
    width: 6.3rem;
    cursor: pointer;
    margin-right: 2rem;
}

.navbar h1{
    margin-left: 2.1rem;
}

.profile i:hover {
    color: var(--text-color);
}

/*Menu lateral*/

.sidebar {
    margin: 0;
    padding: 0;
    padding: 2.1rem 0 0 2.1rem;
    width: 23rem;
    height: 100vh;
    background-color: var(--primaryColor-green);
    position: fixed;
    overflow-y: scroll;
    bottom: -0rem;
}

/* Abas da Barra Lateral */
.sidebar-tab {
    height: 4.2rem;
    width: 100%;
    display: flex;
    margin: 2.1rem 0;
}

.sidebar-tab a,
.sidebar-tab h4 {
    color: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.sidebar-tab:hover,
.sidebar-tab:hover a,
.sidebar-tab:hover h4 {
    background: var(--white-color);
    border-radius: 1.3rem 0 0 1.3rem;
    color: var(--text-color);
}

.sidebar-tab:hover i{
    color: var(--text-color);
}


/* Aba Ativda da Barra Lateral */
.sidebar-active,
.sidebar-active a,
.sidebar-active h4 {
    background: var(--white-color);
    border-radius: 1.3rem 0 0 1.3rem;
    color: var(--text-color) !important;
}

.sidebar-active i{
    color: var(--text-color);
}
/* Estilo padrão dos ícones */
.app-form i {
    font-size: 1.7rem;
    height: 4.2rem;
    width: 4.2rem;
    color: var(--neutralColors-400);
    cursor: pointer;
}

/* Estilo padrão para os campos */
input,
select {
    color: var(--neutralColors-500);
    width: 29rem;
    height: 4.2rem;
    background-color: var(--white-color);
    border: var(--text-color);
    box-shadow: var(--buttonShadow-default-02);
    border-radius: 0.42rem;
    text-indent: 0.8rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 1.8rem;
}

/* Estilo padrão do Título H1 */
h1 {
    font: normal 700 6.7rem/7.5rem "DM Sans";
}

/* Estilo padrão do Título H2 */
h4 {
    font: normal 700 3.2rem/4.2rem "DM Sans";
}

h5 {
    font: normal 700 2.7rem/3.5rem "DM Sans";
}

h6 {
    font: normal 700 2.3rem/3.2rem "DM Sans";
}

/* Estilo padrão para Corpo */
p {
    font: normal 400 2rem/3.5rem "DM Sans";
}

a{
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--primaryColor-green);
}

a.voltar{
    color: var(--white-color);
}

main {
    position: relative;                    
    height: calc(100vh - 10rem); 
    width: calc(100vw - 25rem);
    left: 25rem;
    margin-top: 4.2rem;
    overflow-y:auto;
}


/*Login, cadastro e recuperar senha*/
.container {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

.input-field {
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.container.login{
    background-color: var(--neutralColors-white);
}

.container.login:before{
    content: '';
    position: absolute;
    width: 125rem;
    height: 160.3rem;
    border-radius: 50%;
    background: var(--primaryColor-green);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.7s ease-in-out;
}

.forms-container-login{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

.signin-signup h1{
    font-size: 3rem;
}


.signin-signup form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.3s 0.8s ease-in-out;
}

form.sign-in-form{
    z-index: 2;
}

form.sign-up-form{
    z-index: 1;
    opacity: 0;
}

input.btn-form {
    display: flex;
    justify-content: center;
    background-color: var(--primaryColor-green);
    margin-top: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.42rem;
    color: #fff;
    width: 29rem;
    height: 4.2rem;
    font-size: 1.75rem;
    font-weight: bold;
    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


.password{
    display: flex;
    justify-content: space-between;
}

input.pw{
    width: 13.75rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}

.input-field.pw p{
    margin-left: 0.8rem;
}

.termo p{
    font-size: 1.55rem;
}

.icons{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

img.icon{
    width: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.25rem;
}

.content h1,
.content p {
    color: var(--neutralColors-white);
    font-weight: 600;
}

.content h1{
    font-size: 5rem;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;  
    justify-content: space-around;
    z-index: 7;
}

.left-panel{
    pointer-events: all;
    display: block;
    margin-right: 2.2rem;
}

.right-panel{
    pointer-events: none;
    display: block;
    margin-right: 2.2rem;
}

.panel .content{
    transition: .9s .6s ease-in-out;
}

button{
    background-color: var(--neutralColors-white);
    margin-top: 1.9rem;
    border-radius: 0.42rem;
    color: var(--primaryColor-green);
    width: 29rem;
    height: 4.2rem;
    font-size: 1.75rem;
    font-weight: bold;
    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border: none ;
    cursor: pointer;
}

.right-panel .content{
    transform: translateX(187.5rem);
}

.container.login.sign-up-mode:before{
    transform: translate(100%, -50%);
    right: 55%;
}

.container.login.sign-up-mode .left-panel .content{
    transform: translateX(-187.5rem)
}

.container.login.sign-up-mode .right-panel .content{
    transform: translateX(0rem)
}

.container.login.sign-up-mode .left-panel{
    pointer-events: none;
}

.container.login.sign-up-mode .right-panel{
    pointer-events: all;
}

.container.login.sign-up-mode .signin-signup{
    left: 25%
}

.container.login.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}

.container.login.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}

/* Formulario de recuperar senha */

.container.rec {
    align-items: center;
    background-color: var(--primaryColor-green);
}

.form-container-rec{
    text-align: center;
}

.form-container-rec h1{
    color: var(--neutralColors-white);
    font-size: 5rem;
}

.form-rec{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 23rem;
    background-color: var(--neutralColors-white);
    padding: 1.2rem;
    border-radius: 1.6rem;
    box-shadow: 0rem 0.5rem 1rem rgba(33, 37, 41, 0.17);
    margin-top: 1.6rem;
    align-items: center;
}

/*Formulários do aplicativo*/
.app-form {
    padding-top: 50rem;
    margin-top: 9rem;
    height: auto;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    padding: 4.2rem 4.2rem;
    gap: 1.4rem;
    position: absolute;
    width: 75rem;
    background: var(--gray-color);
    box-shadow: var(--buttonShadow-default-01);
    border-radius: 2.1rem;
    display: none;
    z-index: 1;

    /* Alinhar ao centro da tela */
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-form h1{
    font-weight: bold;
}

.app-form .close {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    font-size: 3rem;
    cursor: pointer;
}
.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0rem;
    gap: 3rem;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.actions {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 7.7rem;
}

.action {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-top: 4.2rem;
    padding-left: 1.2rem;
    width: 4.2rem;
    height: 4.2rem;
    border: 0.1rem solid var(--neutralColors-500);
    border-radius: 2.1rem;
}

.confirm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2.1rem;
    gap: 0.8rem;
    cursor: pointer;
    border-radius: 8rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.confirm i {
    color: var(--neutralColors-white);
    font-size: 4.2rem;
    width: 4.2rem;
    height: 4.2rem;
}

#expense {
    color: var(--navBar-expense);
    font-weight: bold;
    font-size: 3.2rem
}

#saving {
    color: var(--navBar-saving);
    font-weight: bold;
    font-size: 3.2rem
}

#confirm-expense {
    background-color: var(--navBar-expense);
}

#confirm-saving {
    background-color: var(--navBar-saving);
}

/* Adicionar Dependentes */
.identification {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 2.1rem;
    width: 29rem;
}

.identification i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2.5ren;
    background: var(--categories-gray);
    border-radius: 1.2rem;
    cursor: default;
    font-size: 4.2rem;
    color: var(--neutralColors-white);
    width: 4.2rem;
    height: 4.2rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.identification h6 {
    color: var(--neutralColors-400);
    font-size: 1.7rem;
}

.load-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    gap: 0.8rem;
    width: 27.5rem;
    height: 4.6rem;
    background: var(--neutralColors-200);
    box-shadow: var(--buttonShadow-default-02);
    border-radius: 0.42rem;
    cursor: pointer;
}

.load-photo i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    color: var(--neutralColors-white);
    background: var(--neutralColors-300);
    border-radius: 4.2rem;
}

.load-photo p {
    color: var(--neutralColors-500);
}

.chevron {
    background: transparent !important;
    color: var(--neutralColors-500) !important;
}

.select-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.9rem;
    width: 23.4rem;
    background: var(--neutralColors-white);
    box-shadow: var(--buttonShadow-default-02);
    border-radius: 1.2rem;
}

.balls-top,
.balls-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.2rem;
    gap: 1.2rem;
}

.colors-ball {
    border-radius: 4.2rem;
}


/*Dashboard*/

.columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2.9rem;
}

.left-column.system{
    align-items: flex-start;
}

.overviews{
    display: flex;
    flex-direction: row;
    gap: 2.9rem;
}

.overview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.42rem;
    justify-content: center;
    padding: 0.8rem;
    width: auto;
    height: 12rem;
    border: 0.1rem solid #212529;
    border-radius: 2.1rem;
}

.overview p{
    font-size: 2rem;
}

.dinheiro{
    font-weight: 700;
    filter: drop-shadow(0rem 0.34rem 0.34rem rgba(0, 0, 0, 0.25));
}

#saldo{
    color: var(--navBar-blue)
}

#receitas{
    color: var(--navBar-saving);
}

#despesas{
    color: var(--navBar-expense)
}



.box.transacao{
    margin-top: 0.5rem;
    height: 4rem;
    width: 17rem;
    border-radius: 0.42rem;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}


.box.transacao p{
    font-size: 1rem;
    font-weight: 600;
    margin-right: 1rem;
    margin-top: 0.1rem;
    text-decoration: none;

}
.box.transacao h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0.3rem;
}

.box.transacao.recente {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.suas-despesas h3, .suas-despesas p{
    margin-left: 1rem;
}

.dinamic-scroll{
    overflow-y: auto;
    height: 40rem;
}

.suas-despesas{
    margin-bottom: 2rem;
}

.suas-despesas h3{
    font-weight: 600;
}

.suas-despesas p{
    font-size: 1rem;
    margin-top: -1.5rem;
    margin-bottom: -1rem;
}


.tipoRouD{
    display: none;
    flex-direction: column;
    margin-right: 3rem;
}

/* Transações */

.popupExcluir{
    display: flex;
    margin-top: 2rem;
}

.popupExcluir button{
    width: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: var(--primaryColor-green);
    color: var(--white-color);
    border-radius: 0.42rem;
}

#cancelarExcluir{
    background-color: var(--navBar-expense);
}

.transacao{
    display: flex;
    justify-content: space-between;
}

.overviews.transacao{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

#transacao-table{
    width: calc(100vw - 45rem);
}
/* Carteira */

.cartoes{
    display: flex;
}

.cartao{
    display: flex;
    align-items: center;
}

.cartao h3{
    margin-left: 1rem;
    font-weight: bold;
}

.selecionar{
    width: calc(100vw - 45rem);
    display: flex;
    justify-content: flex-end;
}

.button-content{
    display: flex;
    background-color: var(--white-color);
    width: 34rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    box-shadow: var(--buttonShadow-default-02);
    border-radius: 3rem;
}
.cartoes button{
    background-color: var(--primaryColor-green);
    color: var(--white-color);
    width: 17rem;
    height: 4rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    /* position: absolute;
    left: 52rem; */
}


button.fechada{
    background-color: transparent;
    border: 0;
    color: var(--neutralColors-500);
    text-shadow: 0 0 0;
    font-weight: normal;
    width: 17rem;
}

.boxes{
    display: flex;
}

.box{
    width: 25rem;
    height: 19rem;
    flex-shrink: 0;
    border-radius: 2.1rem;
    background: var(--white-color);
    box-shadow: var(--shadow-default-01);
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 2rem;
    margin-top: 6rem;
}

.box.novo{
    justify-content: center;
    align-items: center;
}

.box input{
    width: 22rem;
}

.cartao-descricao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.cartao-descricao img{
    margin-left: 1rem;
    margin-top: -0.5rem;
}

.cartao-descricao h3{
    color: var(--neutralColors-500);
    font-weight: bold;
}

.box p{
    color: var(--neutralColors-500);
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 0;
}

.cartao-info{
    display: flex;
    justify-content: space-between;
}

.cartao-valor{
    text-align: right;
    margin-right: 1rem;
}

.cartao-info p, .cartao-grafico p{
    font-size: 1rem;
    margin-top: -1rem;
}

#parcial-vermelho{
    color: var(--navBar-expense);
}

p.situacao-cartao{
    font-weight: bold;
}

.grafico-info{
    display: flex;
    justify-content: space-between;
}

.percentual-cartao{
    margin-right: 1rem;
}

.cartao-grafico img{
    width: 24rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-top: -1rem;
}

.edit-excl{
    /* margin-right: 1.5rem; */
    display: flex;
}

.edit-excl img{
    cursor: pointer;
    margin-right: 1rem;
}
/* Metas */

.box.meta h3{
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#final-meta{
    font-weight: bold;
}

#data-meta{
    font-weight: bold;
    font-size: 1.2rem;
}

.edit-excl.meta{
    display: flex;
    justify-content: flex-end;
}

.edit{
    margin-right: 0.8rem;
}

/* Configurações */

.config{
    width: 30rem;
}

.opcao{
    cursor: pointer;
    margin-bottom: 0.3rem;
}

a.opcao{
    text-decoration: none;
}

.config h3:hover{
    font-weight: bold;
    color: var(--primaryColor-green);
}

.dependentes{
    
}

.reset-Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

h3.list-categoria{
    font-weight: normal;
    font-size: 2rem;
    margin-top: 0.5rem;
}

.box.transacao.add-categoria{
    justify-content: space-between;
}