<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/Logo.ico">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/static/lib/meu_bootstrap.css">

        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/estilo.css">

        <!-- Título -->
        <title>Budget</title>
    </head>

    <body>
        {% block conteudo %} 
        
        {% endblock %}
    </body>
</html>
