.<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/Logo.ico" type="image/x-icon" />    
    <link rel="stylesheet" href="/static/lib/meu_bootstrap.css">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <script src="/static/js/popup.js"></script>
    <title>Budget</title>
</head>

<body class="bg-white">
    <div class="container-fluid top-0">
        <div class="row">
            <aside class="position-fixed p-lg-0 text-bg-primary col-md-1 p-0 col-lg-3  vh-100 d-lg-inline d-md-inline d-none top-0">
                <a class="text-decoration-none " href="#">
                    <div class="p-3" id="logo">
                        <img class="img-fluid w-lg-25" src="/static/img/Moeda.svg" alt="Budget Logo">
                        <img class="img-fluid w-50 d-lg-inline d-none" src="/static/img/Budget.svg" alt="Budget Logo">
                    </div>
                </a>
                <ul class="nav flex-column">
                    <li class="nav-item p-2 my-2 {{ 'active' if (pagina == '/dashboard') }}">
                        <a class="nav-link fw-bold fs-4"  href="/dashboard">
                            <i class="bi bi-pie-chart-fill text-center"></i>
                            <span class="d-lg-inline d-none">Dashboard</span>   
                        </a>
                    </li>
                    <li class="nav-item  p-2 mb-2" >
                        <a class="nav-link fw-bold fs-4" href="/transacoes">
                            <i class="bi bi-list"></i>
                            <span class="d-lg-inline d-none">Transações</span>   
                        </a>
                    </li>
                    <li class="nav-item  p-2 mb-2" >
                        <a class="nav-link fw-bold fs-4"  href="/carteira">
                            <i class="bi bi-wallet"></i>
                            <span class="d-lg-inline d-none">Carteira</span>   
                        </a>
                    </li>
                    <li class="nav-item  p-2 mb-2" >
                        <a class="nav-link fw-bold fs-4"  href="/metas">
                            <i class="bi bi-stop-circle-fill"></i>
                            <span class="d-lg-inline d-none">Metas</span>   
                        </a>
                    </li>
                    <li class="nav-item  p-2 mb-2  {{ 'active' if (pagina == '/configuracoes') }}">
                        <a class="nav-link  fw-bold fs-4" href="/configuracoes">
                            <i class="bi bi-gear-fill"></i>
                            <span class="d-lg-inline d-none">Configurações</span>   
                        </a>
                    </li>
                    <li class="nav-item  p-2 mb-2">
                        <a class="nav-link  fw-bold fs-4"  href="/signUp-signIn">
                            <i class="bi bi-box-arrow-right"></i>
                            <span class="d-lg-inline d-none">Sair</span>   
                        </a>
                    </li>
                </ul>
            </aside>
            <div class="expandir d-sm-none d-inline">
                <button class="navbar-toggler text-primary text-start" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <i class="bi bi-list fs-4"></i>
                    <span class="fs-4">Menu</span>
                </button>
                <div class="offcanvas offcanvas-start bg-primary text-white" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <a class="text-decoration-none " href="#">
                            <div class="p-3" id="logo">
                                <img class="img-fluid w-lg-25" src="/static/img/Moeda.svg" alt="Budget Logo">
                                <img class="img-fluid w-50" src="/static/img/Budget.svg" alt="Budget Logo">
                            </div>
                        </a>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="background-color: white;"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="nav flex-column">
                            <li class="nav-item py-2 my-2  {{ 'active' if (pagina == '/dashboard') }}" >
                                <a class="nav-link fw-bold fs-4"  href="/dashboard">
                                    <i class="bi bi-pie-chart-fill"></i>
                                    <span class="">Dashboard</span>   
                                </a>
                            </li>
                            <li class="nav-item  py-2 mb-2" >
                                <a class="nav-link fw-bold fs-4" href="/transacoes">
                                    <i class="bi bi-list"></i>
                                    <span class="">Transações</span>   
                                </a>
                            </li>
                            <li class="nav-item  py-2 mb-2" >
                                <a class="nav-link fw-bold fs-4"  href="/carteira">
                                    <i class="bi bi-wallet"></i>
                                    <span class="">Carteira</span>   
                                </a>
                            </li>
                            <li class="nav-item  py-2 mb-2">
                                <a class="nav-link fw-bold fs-4"  href="/metas">
                                    <i class="bi bi-stop-circle-fill"></i>
                                    <span class="">Metas</span>   
                                </a>
                            </li>
                            <li class="nav-item  py-2 mb-2 {{ 'active' if (pagina == '/configuracoes') }}" >
                                <a class="nav-link  fw-bold fs-4" href="/configuracoes">
                                    <i class="bi bi-gear-fill"></i>
                                    <span class="">Configurações</span>   
                                </a>
                            </li>
                            <li class="nav-item  py-2 mb-2">
                                <a class="nav-link  fw-bold fs-4"  href="/signUp-signIn">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span class="">Sair</span>   
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 offset-lg-3 col-md-11 offset-md-1  col-12 ">
                <div class="row bg-white" style="position: fixed; top: 0; z-index:100;">
                    <header class="w-100 d-flex align-items-center justify-content-between top-0">
                        <div class="">
                            <h1 class="">{{titulo}}</h1>
                        </div>
                        <div id="profile" class="fs-4 align-items-center justify-content-center">
                            <i class="bi bi-bell-fill fs-4"></i>
                            <img  class="img-fluid ms-1 w-50"src="static/img/avatar-circle-120x120.png" alt="foto perfil"/>
                        </div>
                    </header>
                    <div class="expandir d-sm-none d-inline">
                <button class="navbar-toggler text-primary text-start" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <i class="bi bi-list fs-4"></i>
                    <span class="fs-4">Menu</span>
                </button>
                <div class="offcanvas offcanvas-start bg-primary text-white" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <a class="text-decoration-none " href="#">
                            <div class="p-3" id="logo">
                                <img class="img-fluid w-lg-25" src="/static/img/Moeda.svg" alt="Budget Logo">
                                <img class="img-fluid w-50" src="/static/img/Budget.svg" alt="Budget Logo">
                            </div>
                        </a>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="background-color: white;"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="nav flex-column">
                            <li class="nav-item py-2 my-2  {{ 'active' if (pagina == '/dashboard') }}" >
                                <a class="nav-link fw-bold fs-4"  href="/dashboard">
                                    <i class="bi bi-pie-chart-fill"></i>
                                    <span class="">Dashboard</span>   
                                </a>
                            </li>
                            <li class="nav-item  py-2 mb-2" >
                                <a class="nav-link fw-bold fs-4" href="/transacoes">
                                    <i class="bi bi-list"></i>
                                    <span class="">Transações</span>   
                                </a>
                            </li>
                            <li class="nav-item  py-2 mb-2" >
                                <a class="nav-link fw-bold fs-4"  href="/carteira">
                                    <i class="bi bi-wallet"></i>
                                    <span class="">Carteira</span>   
                                </a>
                            </li>
                            <li class="nav-item  py-2 mb-2">
                                <a class="nav-link fw-bold fs-4"  href="/metas">
                                    <i class="bi bi-stop-circle-fill"></i>
                                    <span class="">Metas</span>   
                                </a>
                            </li>
                            <li class="nav-item  py-2 mb-2 {{ 'active' if (pagina == '/configuracoes') }}" >
                                <a class="nav-link  fw-bold fs-4" href="/configuracoes">
                                    <i class="bi bi-gear-fill"></i>
                                    <span class="">Configurações</span>   
                                </a>
                            </li>
                            <li class="nav-item  py-2 mb-2">
                                <a class="nav-link  fw-bold fs-4"  href="/signUp-signIn">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span class="">Sair</span>   
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                </div>
                <div class="row mt-5">
                    <main class="container-fluid mt-3">
                        {% block conteudo %}
                        {% endblock %}
                    </main>
                    
                    <footer class=" col-12 text-bg-primary d-md-none d-none d-sm-inline position-fixed bottom-0 start-50 translate-middle-x p-0">
                        
                        <ul class="nav flex-row justify-content-around">
                            <li class="nav-item p-sm-1 ms-sm-1  {{ 'active' if (pagina == '/dashboard') }}" >
                                <a class="nav-link fw-bold fs-4"  href="/dashboard">
                                    <i class="bi bi-pie-chart-fill text-center"></i>  
                                </a>
                            </li>
                            <li class="nav-item  p-sm-1 ms-sm-1">
                                <a class="nav-link fw-bold fs-4" href="/transacoes">
                                    <i class="bi bi-list"></i>  
                                </a>
                            </li>
                            <li class="nav-item p-sm-1 ms-sm-1" >
                                <a class="nav-link fw-bold fs-4"  href="/carteira">
                                    <i class="bi bi-wallet"></i>  
                                </a>
                            </li>
                            <li class="nav-item  p-sm-1 ms-sm-1" >
                                <a class="nav-link fw-bold fs-4"  href="/metas">
                                    <i class="bi bi-stop-circle-fill"></i>
                                </a>
                            </li>
                            <li class="nav-item  p-sm-1 ms-sm-1 {{ 'active' if (pagina == '/configuracoes') }}">
                                <a class="nav-link  fw-bold fs-4" href="/configuracoes">
                                    <i class="bi bi-gear-fill"></i>  
                                </a>
                            </li>
                            <li class="nav-item p-sm-1 ms-sm-1">
                                <a class="nav-link  fw-bold fs-4"  href="/signUp-signIn">
                                    <i class="bi bi-box-arrow-right"></i> 
                                </a>
                            </li>
                        </ul>
                    </footer>
                </div>
            <div>
        </div>
    </div>
    <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      //escrever javascript para redimensionar cabeçalho
    </script>
</body>

</html>