{% extends "base.html" %} {% block conteudo %}

<div class="cartoes">
    <div class="cartao">
        <img src="static/images/cartao.svg">
        <h3>meus cartões</h3>
    </div>
    <div class="selecionar">
        <div class="button-content">
            <button class="aberta">Faturas abertas</button>
            <button class="fechada">Faturas fechadas</button>
        </div>
    </div>
</div>

<div class="boxes">  
    <div class="box novo">
        <input onclick="openPopup()" type="button" class="btn-form" value="adicionar novo cartão"  >    
    </div>
    
    <div class="box">
        <div class="cartao-descricao">
            <img src="static/images/Banco do Brasil.svg">
            <h3> Cartão de Crédito</h3>
            <div class="edit-excl">
                <img src="static/images/edit.svg">
                <img src="static/images/excluir.svg">
            </div>
        </div>
        <p class="situacao-cartao">Fatura aberta</p>
        <div class="cartao-info">
            <div>
                <p>Valor parcial</p>
                <p>Fecha em</p>
            </div>
            <div class="cartao-valor">
                <p id="parcial-vermelho">R$ 2.000,00</p>
                <p>05 de julho de 2023</p>
            </div>
        </div>
        <div class="cartao-grafico">
            <div class="grafico-info">
                <p>R$ 2.000,00  de  R$ 10.000,00 </p>
                <p class="percentual-cartao">20% </p>
            </div>
            <img src=static/images/grafico-carteira.png>
            <p>Limite Disponível  R$ 8.000,00</p>
        </div>
    </div>

<script src="static/scripts/popup.js"></script>

    <!-- Coluna Direita -->
    <div class="right-column"></div>
</div> 

{% endblock %} 

{% block popup %}
<!-- Formulário do Aplicativo -->
<form style="height:600px "id="app-form" class="app-form" method="post" action="/cadastrarCartao">
    <!-- Cabeçalho do Formulário -->
    <div class="form-header">
        <span class="close" onclick="closePopup()">&times;</span>
        <h1>Adicionar Cartão</h1>
    </div>

    <!-- Colunas do Formulário -->
    <div class="form-columns">
        <!-- Coluna Esquerda -->
        <div class="left-column">
            <!-- Nome completo -->
            <div class="field">
                <p>Descrição</p>
                <input style="font-size: 2rem" name="description" type="text" placeholder="Exemplo: cartão de débito"/>
            </div>
            <!-- conta -->
            <div class="field">
                <p>Conta</p>
                <select name="idAccount">
                    <option value="label" disabled selected>
                        Escolha a sua conta
                    </option>
                    <option value="wallet">Minha Carteira</option>
                    <option value="nubank">NuBank</option>
                    <option value="inter">Inter</option>
                </select>
            </div>

            <!-- Grau de parentesco -->
            <div class="field">
                <p>Limite</p>
                <input style="font-size: 2rem" name="saving" id="saving" type="number" placeholder="R$ 0,00" />
            </div>
        </div>
        <!-- Coluna Direita -->
        <div class="right-column">
            <!-- Carregar foto -->
            <div class="field">
                <p>Dia do fechamento</p>
                <input style="font-size: 2rem" name="closeDate" type="date" />
            </div>
            <div class="field">
                <p>Dia do vencimento</p>
                <input style="font-size: 2rem"name="cardExpiration" type="date" />
            </div>
            <div class="field">
                <p>Bandeira</p>
                <select name="cardBanner">
                    <option value="label" disabled selected>
                        Escolha a bandeira do cartão
                    </option>
                    <option value="mastecard">Mastecard</option>
                    <option value="visa">Visa</option>
                    <option value="elo">Elo</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Botão do Formulário -->
    <input class="btn-form" type="submit" value="Adicionar Cartão" />
</form>
{% endblock %}
