<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Título da janela -->
        <title>Budget | Adicionar Cartão</title>

        <!-- Ícone da janela -->
        <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon" />

        <!-- CSS -->
        <link rel="stylesheet" href="style.css" />

        <!-- Ícones -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
    </head>

    <body>
        <!-- Formulário do Aplicativo -->
        <form class="app-form">
            <!-- Cabeçalho do Formulário -->
            <div class="form-header">
                <h4>Adicionar Cartão</h4>
            </div>

            <!-- Colunas do Formulário -->
            <div class="form-columns">
                <!-- Coluna Esquerda -->
                <div class="left-column">
                    <!-- Nome completo -->
                    <div class="field">
                        <p>Descrição</p>
                        <input type="text" placeholder="Exemplo: cartão de débito" />
                    </div>
                    <!-- conta -->
                    <div class="field">
                        <p>Conta</p>
                        <select>
                            <option value="label" disabled selected>
                                Escolha a sua conta
                            </option>
                            <option value="wallet">Minha Carteira</option>
                            <option value="nubank">NuBank</option>
                            <option value="inter">Inter</option>
                        </select>
                    </div>

                    <!-- Grau de parentesco -->
                    <div class="field">
                        <p>Limite</p>
                        <input
                            id="saving"
                            type="number"
                            placeholder="R$ 0,00"
                        />
                    </div>
                </div>
                <!-- Coluna Direita -->
                <div class="right-column">
                    <!-- Carregar foto -->
                    <div class="field">
                        <p>Dia do fechamento</p>
                        <input type="date" />
                    </div>
                    <div class="field">
                        <p>Dia do vencimento</p>
                        <input type="date" />
                    </div>
                    <div class="field">
                        <p>Bandeira</p>
                        <select>
                            <option value="label" disabled selected>
                                Escolha a bandeira do cartão
                            </option>
                            <option value="mastecard">Mastecard</option>
                            <option value="visa">Visa</option>
                            <option value="elo">Elo</option>
                        </select>
                    </div>

                </div>
            </div>

            <!-- Botão do Formulário -->
            <input class="btn-form" type="submit" value="Adicionar Cartão">
        </form>
    </body>
</html>
