{% extends "base.html" %} {% block conteudo %}

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" style="cursor: pointer;">
    <i class="bi bi-person fs-1 col-1"></i>
    <div class="col-10 ms-3 mb-2">
        <h5 class="mb-0">Seu Perfil</h5>
        <span style="font-size: 0.8rem" class="mt-0 ">Detalhes sobre suas informações pessoais</span>
    </div>
    <hr />
</a>

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" style="cursor: pointer;">
    <i class="bi bi-shield fs-2 col-1"></i>
    <div class="col-10 ms-3 mb-3">
        <h5 class="mb-0">Segurança</h5>
        <span style="font-size: 0.8rem" class="mt-0">Detalhes sobre sua senha</span>
    </div>
    <hr />
</a>

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" style="cursor: pointer;">
    <i class="bi bi-person-vcard fs-2 col-1"></i>
    <div class="col-10 ms-3 mb-3">
        <h5 class="mb-0">Minhas Contas</h5>
        <span style="font-size: 0.8rem" class="mt-0 ">Detalhes sobre suas conexões e contas bancárias</span>
    </div>
    <hr />
</a>

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" style="cursor: pointer;">
    <i class="bi bi-app fs-2 col-1"></i>
    <div class="col-10 ms-3 mb-3">
        <h5 class="mb-0">Categorias</h5>
        <span style="font-size: 0.8rem" class="mt-0 ">Adicione e gerencie suas categorias</span>
    </div>
    <hr />
</a>

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" style="cursor: pointer;">
    <i class="bi bi-people fs-2 col-1"></i>
    <div class="col-10 ms-3 mb-3">
        <h5 class="mb-0">Dependentes</h5>
        <span style="font-size: 0.8rem" class="mt-0">Gerencie os dependentes da sua conta</span>
    </div>
    <hr />
</a>

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" style="cursor: pointer;">
    <i class="bi bi-question-circle fs-2 col-1"></i>
    <div class="col-10 ms-3 mb-3">
        <h5 class="mb-0">Ajuda</h5>
        <span style="font-size: 0.8rem" class="mt-0 ">Está perdido? Venha, vamos ajudar</span>
    </div>
    <hr />
</a>

<a class="row col-xl-5 col-md-6 col-10 offset-1 ms-3 mb-3 text-decoration-none text-dark menu-configuracoes" style="cursor: pointer;">
    <i class="bi bi-info-circle fs-2 col-1"></i>
    <div class="col-10 ms-3 mb-3">
        <h5 class="mb-0">Sobre</h5>
        <span style="font-size: 0.8rem" class="mt-0">Conheça um pouco mais sobre nós</span>
    </div>
    <hr />
</a>

{% endblock %}