{% extends "base.html" %} {% block conteudo %}
<div class="row" >
    <div class="col-md-7 col-sm-12 col-12 d-md-inline d-flex flex-column justify-content-center align-items-center">
        <div class="mb-3 form-floating w-50">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
            <label for="floatingSelect">Escolha o mês</label>
        </div>

         <div class= "mb-5 d-sm-flex flex-sm-row flex-column ">
            <div class="d-flex flex-column align-items-start gap-1 justify-content-center p-2 border border-dark rounded-3" style= "width: auto; height: 9rem;">
                <img id="receitas" src="" />
                <p class="" id="receitas">{{receita}}</p>
                <p class="">receitas</p>
            </div>
            <div class="d-flex flex-column align-items-start gap-1 justify-content-center p-2 border border-dark rounded-3 mx-sm-3 my-3 my-sm-0" style= "width: auto; height: 9rem;">
                <img src="" />
                <p class="" id="despesas">{{despesa}}</p>
                <p class="">despesas</p>
            </div>
            <div class="d-flex flex-column align-items-start gap-1 justify-content-center p-2 border border-dark rounded-3" style= "width: auto; height: 9rem;">
                <img class= src="">
                <p class="" id="saldo">{{saldo}}</p>
                <p class="">saldo</p>
            </div>
        </div>
        <img class="img-fluid" src="/static/img/Gráfico.svg" alt="grafico despesas"/>
    </div>
    <div class="col-md-5 col-sm-12 col-12 d-md-inline d-flex flex-column align-items-center">
        
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6 col-6 me-md-0 mt-md-0 mt-5">
                <div class="d-md-inline d-lg-none d-xl-none d-none d-sm-none ms-md-0 mt-md-0 ms-5 mt-5">
                    <!--<div>
                        <a class="add-transacao" href="#" onclick="openPopupButton()"
                            ><img src="/static/img/Adicionar.svg"
                        /></a>
                        <div id="tipoRouD" class="tipoRouD flex-row" style="display: none;">
                            <a href="#" onclick="openPopupReceita()"
                                ><img src="/static/img/Receita.svg"
                            /></a>
                            <a href="#" onclick="openPopupDespesa()"
                                ><img src="/static/img/Despesa.svg"
                            /></a>
                        </div>
                    </div>-->
                </div>
                <div class="">
                    <h3 class="fs-5">suas despesas</h3>
                    <p class="fs-8">últimos 15 dias</p>
                    {% for despesa in lista_despesa %}
                        <a class="text-decoration-none" href="/transacoes">
                            <div class="p-2 bg-white w-50 rounded-3 shadow">
                                <h3 class="fs-6 text-dark ">Despesa</h3>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                 
                <div class="mt-3">
                    <h3 class="fs-5">transações recentes</h3>
                    <p class="fs-8">receitas e despesas</p>
                    {% for t in transactions %}
                        {% if t.typeIorE == 'Despesa' %}
                        <a class="text-decoration-none" href="/transacoes">
                            <div class="px-2 bg-white w-50 rounded-3 shadow d-flex justify-content-between ">
                                <div>
                                    <p class="fw-bold" style="color:#d76060">{{t.typeIorE}}</p>
                                </div>
                                <div>
                                    <p class="fw-bold" style="color:#d76060">{{t.value}}</p>
                                </div>
                            </div>
                        </a>
                        {% else %}
                        <a class="text-decoration-none" href="/transacoes">
                            <div class="px-2 bg-white min-w-50 rounded-3 shadow d-flex justify-content-between ">
                                <div>
                                    <p class="fw-bold" style="color:#d76060">{{t.typeIorE}}</p>
                                </div>
                                <div>
                                    <p class="fw-bold" style="color:#d76060">{{t.value}}</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-6 d-lg-inline ms-md-0 mt-md-0 mt-5" id="#add" >
                <div>
                    <a class="add-transacao" href="#add" onclick="openPopupButton()"
                        ><img src="/static/img/Adicionar.svg"
                    /></a>
                    <div id="tipoRouD" class="tipoRouD flex-column" style="display: none;">
                        <a href="/formReceita"
                            ><img src="/static/img/Receita.svg"
                        /></a>
                        <a  href="/formDespesa"
                            ><img src="/static/img/Despesa.svg"
                        /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block popup %}

<div class="container-md container-fluid text-bg-dark" id="app-form-receita" style="display: none" >
        <form class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 py-3" method="post" action="/cadastrarReceita">
            <span class="close" onclick="closePopupReceita()">&times;</span>
            <h1 class="display-6 text-center fw-semibold" style=" color: #35aa3a;">
                Registrar Receita
            </h1>
            <div class="row mb-3 mt-5">
                <div class="col-12 col-md-6 mb-3">
                    <label for="descricao" class="form-label offset-md-1 offset-sm-2 offset-1">Descrição</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <input type="text" name="descricao" id="descricao" class="shadow border-0 form-control" placeholder="Exemplo: Vendi minha moto" style="color: #98a6af !important;">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="data" class="form-label offset-md-1 offset-sm-2 offset-1">Data</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <input type="date" name="data" id="data" class="shadow border-0 form-control" style="color: #6c757d;">
                    </div>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-12 col-md-6 mb-3">
                    <label for="valor" class="form-label offset-md-1 offset-sm-2 offset-1">Valor</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <input type="number" name="valor" id="valor" class="shadow border-0 form-control" placeholder="R$ 0,00" style="color: #6c757d;">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="idCategoria" class="form-label offset-md-1 offset-sm-2 offset-1">Categoria</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <select name="categoria" id="idCategoria" class="shadow border-0 form-select" style="color: #6c757d;">
                            <option value="label" disabled selected>
                                Escolha a categoria
                            </option>
                            {% for c in categories %}
                            <option value="{{c.idCategory}}">{{c.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6 mb-3">
                    <label for="acconut" class="form-label offset-md-1 offset-sm-2 offset-1">Conta</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <select id="account" name="idAccount" class="shadow border-0 form-select" style="color: #6c757d;">
                            <option disabled selected>Escolha a sua conta</option>
                            {% for a in account %}
                            <option value="{{a.idAccount}}">{{a.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="payment" class="form-label offset-md-1 offset-sm-2 offset-1">Forma de Pagamento</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <select name="payment" id="payment" class="shadow border-0 form-select" style="color: #6c757d;">
                            <option value="label" disabled selected>
                                Escolha a forma de pagamento
                            </option>
                            <option value="money">Dinheiro</option>
                            <option value="card">Cartão</option>
                            <option value="pix">PIX</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6">
                    <label for="dependent" class="form-label offset-md-1 offset-sm-2 offset-1">Adicionar Dependente</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <select class="shadow border-0 form-select" id="dependent" name="idMembro" style="color:#6c757d;">
                            <option value="label" disabled selected>
                                Escolha o Dependente
                            </option>
        
                            {% for d in dependents %}
                                <option value="{{d.idDependent}}">{{d.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-3 mb-3 d-flex flex-row justify-content-center align-items-center fs-6 fs-md-5">
                    <div class="border border-2 p-3 rounded-circle">
                        <i class="bi bi-hand-thumbs-up-fill" ></i>
                    </div>
                    <div class="border border-2 p-3 mx-4 rounded-circle">
                         <i class="bi bi-repeat"></i>
                    </div>
                    <div class="border border-2 p-3 rounded-circle">
                        <i class="bi bi-paperclip"></i>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn col-4 offset-4 rounded-pill" type="submit"  style=" background-color: #35aa3a;">
                    <i class="bi bi-check2 text-white fs-4"></i>
                </button>
            </div>
        </form>
    </div>

{% endblock %}