<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <link rel="stylesheet" href="/static/lib/meu_bootstrap.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <title>Cartão</title>
</head>
<body>
    <div class="container-md container-fluid">
        <form class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-3" method="post">
            <h1 class="display-6 text-center fw-semibold">
                Adicionar Cartão
            </h1>
            <div class="row mb-3 mt-5">
                <div class="col-12 col-md-6 mb-3">
                    <label for="descricao" class="form-label offset-md-1 offset-sm-2 offset-1">Descrição</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <input type="text" name="descricao" id="descricao" class="shadow border-0 form-control" placeholder="Exemplo: Vendi minha moto" style="color: #98a6af !important;">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="data" class="form-label offset-md-1 offset-sm-2 offset-1">Dia do Fechamento</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <input type="date" name="data" id="data" class="shadow border-0 form-control" style="color: #6c757d;">
                    </div>
                </div>
            </div>
            
            <div class="row mb-3">
                 <div class="col-12 col-md-6 mb-3">
                    <label for="acconut" class="form-label offset-md-1 offset-sm-2 offset-1">Conta</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <select id="account" name="idAccount" class="shadow border-0 form-select" style="color: #6c757d;">
                            <option disabled selected>Escolha a sua conta</option>
                            {% for a in account %}
                            <option value="{{a.idAccount}}">{{a.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="dataVencimento" class="form-label offset-md-1 offset-sm-2 offset-1">Dia do Vencimento</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <input type="date" name="dataVencimento" id="dataVencimento" class="shadow border-0 form-control" style="color: #6c757d;">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6 mb-3">
                    
                    <label for="limite" class="form-label offset-md-1 offset-sm-2 offset-1">Limite</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <input type="number" name="limite" id="limite" class="shadow border-0 form-control" placeholder="R$ 0,00" style="color: #6c757d;">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="bandeira" class="form-label offset-md-1 offset-sm-2 offset-1">Bandeira</label>
                    <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                        <select name="bandeira" id="bandeira" class="shadow border-0 form-select" style="color: #6c757d;">
                            <option value="label" disabled selected>
                                Escolha a bandeira do cartão
                            </option>
                            <option value="mastecard">Mastecard</option>
                            <option value="visa">Visa</option>
                            <option value="elo">Elo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn col-4 offset-4 rounded bg-secondary text-white fs-5 fw-semibold" type="submit"  style=" background-color: #35aa3a;">
                    Adicionar Cartão
                </button>
            </div>
        </form>
    </div>
        
    
</body>
</html>
