{% extends "base.html" %} {% block conteudo %}
<form class="col-12 col-md-10 offset-md-1 pt-3" method="post">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-6 fw-semibold">Adicionar Dependente</h1>
        <p class="fs-5">
            Os dependentes poderão ser vinculados à transações e facilitar a visão geral do gastos 
        <p>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="card col-10 d-flex flex-row offset-md-1 offset-sm-2 offset-1 mb-3">
                <img src="https://img.freepik.com/icones-gratis/garoto_318-500912.jpg?w=360" class="card-img-start img-thumbnail" alt="..." style="width: 5rem; height: auto;">
                <div class="card-body">
                    <ul class="list-unstyled fw-semibold" style="color: #98a6af !important;">
                        <li>Nome</li>
                        <li>Grau de Parentesco</li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="nome" class="form-label offset-md-1 offset-sm-2 offset-1">
                    Nome completo
                </label>
                <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                    <input type="text" name="nome" id="nomeDependente" class="shadow border-0 form-control" placeholder="Nome e sobrenome" style="color: #98a6af !important;">
                </div>
            </div>
            <div class="mb-3">
                <label for="relacao" class="form-label offset-md-1 offset-sm-2 offset-1">
                    Grau de Relacionamento
                </label>
                <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 ">
                    <input type="text" name="relacao" id="relacao" class="shadow border-0 form-control" placeholder="Ex: irmão" style="color: #98a6af !important;">
                </div>
            </div>
        
        </div>
        <div class="col-md-6 col-12">
            <div class="mb-3">
                 <div class="select-color shadow col-md-10 offset-md-1 col-sm-8 offset-sm-2 offset-1 col-10 text-center py-5">
                    <i class="bg-danger rounded-circle" style="padding: 12px 24px 12px 24px"></i>
                    <i class="bg-warning rounded-circle mx-3"  style="padding: 12px 24px 12px 24px"></i>
                    <i class="bg-success rounded-circle me-3"  style="padding: 12px 24px 12px 24px"></i>
                    <i class="bg-primary rounded-circle"  style="padding: 12px 24px 12px 24px"></i>
                </div>
            </div>
            <div class="">
                <label class="input-group-text col-md-10 offset-md-1 offset-sm-8 offset-2 offset-1 col-10" for="foto" style="cursor: pointer; width: 20rem">
                    <i class="bi bi-file-person-fill fs-1 "></i>
                    <span>Carregar Foto</span>
                </label>
                <input type="file" class="shadow border-0 form-control" id="foto" name="foto" accept="image/png, image/jpeg" style="display: none;">
            
            </div>
        </div>
       <button class="btn col-4 offset-4 rounded bg-secondary text-white fs-5 fw-semibold" type="submit"  style=" background-color: #35aa3a;">
            Adicionar Dependente
        </button>
    </div>
</form>


{% endblock %}