<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Título da janela -->
        <title>Budget | Receita</title>

        <!-- Ícone da janela -->
        <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon" />

        <!-- CSS -->
        <link rel="stylesheet" href="style.css" />

        <!-- Ícones -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
    </head>

    <body>
        <!-- Formulário do Aplicativo -->
        <form class="app-form">
            <!-- Cabeçalho do Formulário -->
            <div class="form-header">
                <h4 id="saving">Registrar Receita</h4>
            </div>

            <!-- Colunas do Formulário -->
            <div class="form-columns">
                <!-- Coluna Esquerda -->
                <div class="left-column">
                    <!-- Descrição -->
                    <div class="field">
                        <p>Descrição</p>
                        <input
                            type="text"
                            placeholder="Exemplo: Vendi minha moto"
                        />
                    </div>

                    <!-- Valor -->
                    <div class="field">
                        <p>Valor</p>
                        <input
                            id="saving"
                            type="number"
                            placeholder="R$ 0,00"
                        />
                    </div>

                    <!-- Conta -->
                    <div class="field">
                        <p>Conta</p>
                        <select>
                            <option value="label" disabled selected>
                                Escolha a sua conta
                            </option>
                            <option value="wallet">Minha Carteira</option>
                            <option value="nubank">NuBank</option>
                            <option value="inter">Inter</option>
                        </select>
                    </div>

                    <!-- Membro -->
                    <div class="field">
                        <p>Adicionar Membro</p>
                        <select>
                            <option value="label" disabled selected>
                                Escolha o membro
                            </option>
                            <option value="pai">Pai</option>
                            <option value="filho">Filho</option>
                            <option value="irmao">Irmão</option>
                        </select>
                    </div>
                </div>

                <!-- Coluna Direita -->
                <div class="right-column">
                    <!-- Data -->
                    <div class="field">
                        <p>Data</p>
                        <input type="date" />
                    </div>

                    <!-- Categoria -->
                    <div class="field">
                        <p>Categoria</p>
                        <select>
                            <option value="label" disabled selected>
                                Escolha a categoria
                            </option>
                            <option value="transporte">Transporte</option>
                            <option value="alimentacao">Alimentação</option>
                            <option value="pagamentos">Pagamentos</option>
                            <option value="educacao">Educação</option>
                        </select>
                    </div>

                    <!-- Forma de Pagamento -->
                    <div class="field">
                        <p>Forma de Pagamento</p>
                        <select>
                            <option value="label" disabled selected>
                                Escolha a forma de pagamento
                            </option>
                            <option value="money">Dinheiro</option>
                            <option value="card">Cartão</option>
                            <option value="pix">PIX</option>
                        </select>
                    </div>

                    <!-- Ações -->
                    <div class="actions">
                        <div class="action">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </div>
                        <div class="action">
                            <i class="fa-solid fa-repeat"></i>
                        </div>
                        <div class="action">
                            <i class="fa-solid fa-paperclip"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botão do Formulário -->
            <button id="confirm-saving" class="confirm" type="submit">
                <i class="fa-solid fa-check"></i>
            </button>
        </form>
    </body>
</html>
