<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/Logo.ico" />
    <script src="https://kit.fontawesome.com/12a892a853.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Budget  |   Recuperar Senha</title>
</head>
<body>
    <div class="container rec">
        <div class="form-container-rec">
            <h1>Recuperar Senha</h1>
            <form class="form-rec">
                <p>Informe o seu e-mail para enviarmos as instruções de<br>recuperação de senha</p>
                <br>
                <div class="input-field">
                    <input type="email" placeholder="E-mail">
                </div>
                <input class="btn-form" type="submit" value="Recuperar senha">
                <a href="signUp-signIn">Voltar para a página anterior</a>             
            </form>
        </div>
    </div>
</body>
</html>