<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/lib/meu_bootstrap.css">
    <link rel="stylesheet" href="/static/css/cadastroLogin.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/x-icon" href="/static/img/Logo.ico" />
    <title>Budget  |  Entrar</title>
</head>
<body>
    <!-- div que contém todo o conteúdo -->
    <div class="container-fluid animacao">
        <!-- div que contem os formularios -->
        <div class="forms-container-login">
            <!-- div com os formulario de entrar e cadastro -->
            <div class="signin-signup">
                <!-- formulario para entrar -->
                <form action="" class="sign-in-form">
                    <div class="mb-5">
                        <img src="/static/img/nameLogo.svg" alt="logo do aplicativo">
                    </div>
                    <h3 class="text-dark mb-4">
                        Acesse sua conta
                    </h3>
                    <div class="d-flex gap-5 justify-content-center mb-3">
                        <a href="#">
                            <img src="/static/img/Google.png" alt="icone google">
                        </a>
                        <a href="#">
                            <img src="/static/img/Facebook.png" alt="icone facebook">
                        </a>
                        <a href="#">
                            <img src="/static/img/Microsoft.png" alt="icone microsoft">
                        </a>
                    </div>
                    <p>Ou</p>
                    <div class="row text-start mb-3">
                        <label for="usuario" class="form-label">
                            Usuário
                        </label>
                        <div class="col-12">
                            <input type="text" name="usuario" id="usuario" class="shadow border-0 form-control" placeholder=" " style="color: #98a6af !important;">
                        </div>
                    </div>
                    <div class="row text-start mb-3">
                        <label for="senha" class="form-label">
                            Senha
                        </label>
                        <div class="col-12">
                            <input type="password" name="senha" id="senha" class="shadow border-0 form-control" placeholder=" " style="color: #98a6af !important;">
                        </div>
                    </div>
                    <a class="text-decoration-none text-secondary fw-semibold mb-3" style="cursor: pointer;"> Esqueceu a senha </a>
                    <div class="row mt-3">
                        <button  class="btn col-12 rounded bg-secondary text-white fs-5 fw-semibold" type="button"  style=" background-color: #35aa3a;">
                            Entrar
                        </button>
                    </div>
                </form>
                <!-- formulario de cadastro -->
                <form method="post" action="/dashboard" class="sign-up-form">
                    <div class="mb-5">
                        <img src="/static/img/nameLogo.svg" alt="logo do aplicativo">
                    </div>
                    <h3 class="text-dark mb-4">
                        Acesse sua conta
                    </h3>
                    <div class="d-flex gap-5 justify-content-center mb-3">
                        <a href="#">
                            <img src="/static/img/Google.png" alt="icone google">
                        </a>
                        <a href="#">
                            <img src="/static/img/Facebook.png" alt="icone facebook">
                        </a>
                        <a href="#">
                            <img src="/static/img/Microsoft.png" alt="icone microsoft">
                        </a>
                    </div>
                    <p>Ou</p>
                    <div class="row text-start mb-3">
                        <label for="usuario" class="form-label">
                            Usuário
                        </label>
                        <div class="col-12">
                            <input type="text" name="usuario" id="usuario" class="shadow border-0 form-control" placeholder=" " style="color: #98a6af !important;">
                        </div>
                    </div>
                    <div class="row text-start mb-3">
                        <label for="senha" class="form-label">
                            Senha
                        </label>
                        <div class="col-12">
                            <input type="password" name="senha" id="senha" class="shadow border-0 form-control" placeholder=" " style="color: #98a6af !important;">
                        </div>
                    </div>
                    <a class="text-decoration-none text-secondary fw-semibold mb-3" style="cursor: pointer;"> Esqueceu a senha </a>
                    <div class="row mt-3">
                        <button  class="btn col-12 rounded bg-secondary text-white fs-5 fw-semibold" type="button"  style=" background-color: #35aa3a;">
                            Entrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panels-container" id="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h1>Novo por aqui?</h1>
                    <p>Crie uma conta gratuita, fácil e segura e junte-se<br> aos usuários que estão economizando dinheiro e<br> planejando melhor seus gastos! </p>
                    <button class="btn-animat" id="sign-up-btn">Cadastre-se</button>
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h1>Já é um de nós?</h1>
                    <p>Que bom tê-lo de volta!  Acesse sua conta<br> rapidamente e continue aprimorando o controle<br> da sua vida financeira. </p>
                    <button class="btn-animat" id="sign-in-btn">Acesse</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/signUp-signIn.js"></script>
</body>
</html>