<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Título da janela -->
  <title>Budget | Adicionar Dependente</title>
  <script src="static/scripts/popup.js"></script>
  <!-- Ícone da janela -->
  <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon" />

  <!-- CSS -->
  <link rel="stylesheet" href="static/style.css" />

  <!-- Ícones -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <button onclick="openPopup()">Abrir Popup</button>
  <!-- Formulário do Aplicativo -->
  <form id="app-form" class="app-form">
    <!-- Cabeçalho do Formulário -->
    <div class="form-header">
      <span class="close" onclick="closePopup()">&times;</span>
      <h4>Adicionar Dependente</h4>
      <p>
        Os dependentes poderão ser vinculados à transações e facilitar a
        visão geral do gastos
      </p>
    </div>

    <!-- Colunas do Formulário -->
    <div class="form-columns">
      <!-- Coluna Esquerda -->
      <div class="left-column">
        <!-- Perfil -->
        <div class="identification">
          <i class="fa-regular fa-user"></i>
          <div class="profile">
            <h6>Nome</h6>
            <h6>Grau de Relacionamento</h6>
          </div>
        </div>

        <!-- Nome completo -->
        <div class="field">
          <p>Nome completo</p>
          <input type="text" placeholder="Nome e sobrenome" />
        </div>

        <!-- Data de nascimento -->
        <div class="field">
          <p>Data de nascimento</p>
          <input type="date" />
        </div>

        <!-- Grau de Relacionamento -->
        <div class="field">
          <p>Grau de Relacionamento</p>
          <input type="text" placeholder="Ex: irmão" />

        </div>
      </div>

      <!-- Coluna Direita -->
      <div class="right-column">
        <!-- Carregar foto -->
        <div class="field">
          <label class="load-photo" for="photo">
            <i class="fa-solid fa-user"></i>
            <p>Carregar foto</p>
            <i class="chevron fa-solid fa-chevron-right"></i>
          </label>
          <input type="file" id="photo" accept="image/png, image/jpeg" style="display: none" />
        </div>

        <!-- Cores -->
        <div class="select-color">
          <div class="balls-top">
            <i style="background: var(--categories-pink);" class="colors-ball"></i>
            <i style="background: var(--categories-green);" class="colors-ball"></i>
            <i style="background: var(--categories-darkBlue);" class="colors-ball"></i>
          </div>
          <div class="balls-bottom">
            <i style="background: var(--categories-orange);" class="colors-ball"></i>
            <i style="background: var(--categories-blue);" class="colors-ball"></i>
            <i style="background: var(--categories-red);" class="colors-ball"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Botão do Formulário -->
    <input class="btn-form" type="submit" value="Adicionar Dependente">
  </form>
</body>

</html>