{% extends "base.html" %} {% block conteudo %}
<!-- Tabela copiada do arquivo "Aplicação Web" -->
<div class="row">
    <div class="col-9 p-4 bg-warning">
     <table id="transacao-table" class="table table-hover align-middle table-sm">
              <caption>Quantidade de Transações: {{qtdeTransacoes}}</caption>
              <thead class="table-secondary">
                <tr>
                  <th scope="col">Tipo</th>
                  <th scope="col">Data</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Conta</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Dependente</th>
                  <th scope="col">Ações</th>   
                </tr>
              </thead>
              <tbody class="table-group-divider">
                  <tr class="table-success">
                      <td><i class="bi bi-trash-fill"></i>teste</td>
                  </tr>
                 <!-- {% for t in transactions %}
                 {% if t.typeIorE == 'Receita' %}
                 <tr class="table-success">
                 {% else %}
                 <tr class="table-danger">
                 {% endif %}
                    <td>{{t.typeIorE}}</td>
                    <td>{{t.date}}</td>
                    <td>{{t.idCategory}}</td>
                    <td>{{t.description}}</td>
                    <td>{{t.idAccount}}</td>
                    <td>{{t.value}}</td>
                    <td>{{t.idDependent}}</td>
                    <td>
                      <div class="edit-excl">
                          <form action="/excluirTransacao" method="post">
                            <button class="reset-Button" name="idTransaction" value="{{t.idTransaction}}" type="submit" onclick="openPopupExcluir()"><img src="static/img/edit.svg"></button>                        
                          </form>
                          <form action="/excluirTransacao" method="post">
                            <button class="reset-Button" name="idTransaction" value="{{t.idTransaction}}" type="submit" onclick="openPopupExcluir()"><img src="static/img/excluir.svg"></button>                        
                          </form>
                      </div>
                   </td>
                </tr>
                {% endfor %} -->
              </tbody>
            </table>
        </div>
    <div class="col-3 p-5  bg-danger">
        <div class= "mb-5 d-flex flex-column">
            <div class="d-flex flex-column align-items-start gap-1 justify-content-center p-2 border border-dark rounded-3" style= "width: auto; height: 9rem;">
                <img id="receitas" src="" />
                <p class="" id="receitas">{{receita}}</p>
                <p class="">receitas</p>
            </div>
            <div class="d-flex flex-column align-items-start gap-1 justify-content-center p-2 border border-dark rounded-3 my-3" style= "width: auto; height: 9rem;">
                <img src="" />
                <p class="" id="despesas">{{despesa}}</p>
                <p class="">despesas</p>
            </div>
            <div class="d-flex flex-column align-items-start gap-1 justify-content-center p-2 border border-dark rounded-3" style= "width: auto; height: 9rem;">
                <img class= src="">
                <p class="" id="saldo">{{saldo}}</p>
                <p class="">saldo</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

